<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>cuteffect01_0000</key>
      <dict>
        <key>frame</key>
        <string>{{585,582},{285,285}}</string>
        <key>offset</key>
        <string>{0.70,-0.63}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0001</key>
      <dict>
        <key>frame</key>
        <string>{{585,293},{288,287}}</string>
        <key>offset</key>
        <string>{0.00,-0.72}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0002</key>
      <dict>
        <key>frame</key>
        <string>{{293,589},{290,290}}</string>
        <key>offset</key>
        <string>{0.00,-0.22}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0003</key>
      <dict>
        <key>frame</key>
        <string>{{296,1},{290,290}}</string>
        <key>offset</key>
        <string>{0.00,-0.22}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,588},{290,290}}</string>
        <key>offset</key>
        <string>{0.00,-0.22}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,296},{290,290}}</string>
        <key>offset</key>
        <string>{1.00,0.78}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{293,293}}</string>
        <key>offset</key>
        <string>{0.00,-0.22}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
      <key>cuteffect01_0007</key>
      <dict>
        <key>frame</key>
        <string>{{293,296},{290,291}}</string>
        <key>offset</key>
        <string>{-1.00,1.22}</string>
        <key>sourceSize</key>
        <string>{293.00,293.45}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>cuteffect01.png</string>
      <key>realTextureFileName</key>
      <string>cuteffect01.png</string>
      <key>textureFileName</key>
      <string>cuteffect01.png</string>
      <key>size</key>
      <string>{896,896}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>imgmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49923</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>cuteffect</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,595.85,856.35</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00117</real>
        <key>children</key>
        <dict>
          <key>txtContent</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>40.40,363.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,30,#FFFFFF,left,555,314</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>txtTitle</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>45.10,856.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei,40,#FFFFFF,center,543,57</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>cutimg</key>
          <dict>
            <key>class</key>
            <string>imgmc</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>315.15,539.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>