<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dooreffect_000000</key>
      <dict>
        <key>frame</key>
        <string>{{441,340},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000001</key>
      <dict>
        <key>frame</key>
        <string>{{436,237},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000002</key>
      <dict>
        <key>frame</key>
        <string>{{454,443},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000003</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000004</key>
      <dict>
        <key>frame</key>
        <string>{{546,206},{107,102}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000005</key>
      <dict>
        <key>frame</key>
        <string>{{564,474},{106,64}}</string>
        <key>offset</key>
        <string>{1.00,-16.60}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000006</key>
      <dict>
        <key>frame</key>
        <string>{{3,879},{3,3}}</string>
        <key>offset</key>
        <string>{1.50,6.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,101}</string>
      </dict>
      <key>dooreffect_000007</key>
      <dict>
        <key>frame</key>
        <string>{{454,649},{110,104}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000008</key>
      <dict>
        <key>frame</key>
        <string>{{454,546},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000009</key>
      <dict>
        <key>frame</key>
        <string>{{456,103},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000010</key>
      <dict>
        <key>frame</key>
        <string>{{454,753},{110,103}}</string>
        <key>offset</key>
        <string>{0.00,0.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000011</key>
      <dict>
        <key>frame</key>
        <string>{{551,308},{107,102}}</string>
        <key>offset</key>
        <string>{0.50,0.80}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000012</key>
      <dict>
        <key>frame</key>
        <string>{{324,0},{109,72}}</string>
        <key>offset</key>
        <string>{0.50,-14.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000013</key>
      <dict>
        <key>frame</key>
        <string>{{9,879},{3,3}}</string>
        <key>offset</key>
        <string>{1.50,8.40}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{108,102}</string>
      </dict>
      <key>dooreffect_000014</key>
      <dict>
        <key>frame</key>
        <string>{{342,742},{112,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000015</key>
      <dict>
        <key>frame</key>
        <string>{{342,536},{112,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000016</key>
      <dict>
        <key>frame</key>
        <string>{{342,639},{112,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000017</key>
      <dict>
        <key>frame</key>
        <string>{{324,237},{112,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000018</key>
      <dict>
        <key>frame</key>
        <string>{{324,340},{106,78}}</string>
        <key>offset</key>
        <string>{1.00,-9.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000019</key>
      <dict>
        <key>frame</key>
        <string>{{564,410},{106,64}}</string>
        <key>offset</key>
        <string>{1.00,-16.65}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000020</key>
      <dict>
        <key>frame</key>
        <string>{{6,879},{3,3}}</string>
        <key>offset</key>
        <string>{1.50,11.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,101}</string>
      </dict>
      <key>dooreffect_000021</key>
      <dict>
        <key>frame</key>
        <string>{{742,732},{79,65}}</string>
        <key>offset</key>
        <string>{-4.18,-18.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000022</key>
      <dict>
        <key>frame</key>
        <string>{{319,101},{137,136}}</string>
        <key>offset</key>
        <string>{-9.28,-13.08}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000023</key>
      <dict>
        <key>frame</key>
        <string>{{175,427},{144,130}}</string>
        <key>offset</key>
        <string>{-8.03,-6.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000024</key>
      <dict>
        <key>frame</key>
        <string>{{174,628},{168,154}}</string>
        <key>offset</key>
        <string>{1.88,3.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000025</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{175,167}}</string>
        <key>offset</key>
        <string>{9.88,8.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000026</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{174,170}}</string>
        <key>offset</key>
        <string>{2.88,4.38}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000027</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{175,171}}</string>
        <key>offset</key>
        <string>{-5.23,-1.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000028</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{185,149}}</string>
        <key>offset</key>
        <string>{-4.88,-15.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000029</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{179,141}}</string>
        <key>offset</key>
        <string>{-2.88,-21.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000030</key>
      <dict>
        <key>frame</key>
        <string>{{175,290},{149,137}}</string>
        <key>offset</key>
        <string>{5.22,-17.17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000031</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{139,101}}</string>
        <key>offset</key>
        <string>{0.22,0.83}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000032</key>
      <dict>
        <key>frame</key>
        <string>{{742,797},{58,48}}</string>
        <key>offset</key>
        <string>{21.67,-19.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000033</key>
      <dict>
        <key>frame</key>
        <string>{{0,879},{3,3}}</string>
        <key>offset</key>
        <string>{-0.78,-23.67}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192.75,182.04999999999998}</string>
      </dict>
      <key>dooreffect_000034</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000035</key>
      <dict>
        <key>frame</key>
        <string>{{564,647},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000036</key>
      <dict>
        <key>frame</key>
        <string>{{655,538},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000037</key>
      <dict>
        <key>frame</key>
        <string>{{655,0},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000038</key>
      <dict>
        <key>frame</key>
        <string>{{653,739},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000039</key>
      <dict>
        <key>frame</key>
        <string>{{653,109},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000040</key>
      <dict>
        <key>frame</key>
        <string>{{564,756},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000041</key>
      <dict>
        <key>frame</key>
        <string>{{658,218},{89,109}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000042</key>
      <dict>
        <key>frame</key>
        <string>{{564,538},{91,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000043</key>
      <dict>
        <key>frame</key>
        <string>{{319,427},{122,109}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000044</key>
      <dict>
        <key>frame</key>
        <string>{{0,798},{157,81}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000045</key>
      <dict>
        <key>frame</key>
        <string>{{157,798},{154,81}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000046</key>
      <dict>
        <key>frame</key>
        <string>{{179,149},{140,73}}</string>
        <key>offset</key>
        <string>{0.50,1.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000047</key>
      <dict>
        <key>frame</key>
        <string>{{175,557},{144,68}}</string>
        <key>offset</key>
        <string>{0.50,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000048</key>
      <dict>
        <key>frame</key>
        <string>{{179,222},{136,59}}</string>
        <key>offset</key>
        <string>{0.50,1.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000049</key>
      <dict>
        <key>frame</key>
        <string>{{185,101},{107,46}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000050</key>
      <dict>
        <key>frame</key>
        <string>{{12,879},{3,3}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000051</key>
      <dict>
        <key>frame</key>
        <string>{{18,879},{3,3}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,107}</string>
      </dict>
      <key>dooreffect_000052</key>
      <dict>
        <key>frame</key>
        <string>{{670,327},{89,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000053</key>
      <dict>
        <key>frame</key>
        <string>{{653,647},{89,92}}</string>
        <key>offset</key>
        <string>{0.00,-4.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000054</key>
      <dict>
        <key>frame</key>
        <string>{{566,109},{87,80}}</string>
        <key>offset</key>
        <string>{1.00,-10.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000055</key>
      <dict>
        <key>frame</key>
        <string>{{742,109},{84,55}}</string>
        <key>offset</key>
        <string>{-0.50,-23.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000056</key>
      <dict>
        <key>frame</key>
        <string>{{311,856},{84,17}}</string>
        <key>offset</key>
        <string>{-0.50,-41.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000057</key>
      <dict>
        <key>frame</key>
        <string>{{15,879},{3,3}}</string>
        <key>offset</key>
        <string>{0.50,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>dooreffect_000058</key>
      <dict>
        <key>frame</key>
        <string>{{742,647},{81,85}}</string>
        <key>offset</key>
        <string>{-1.00,0.88}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,84.75}</string>
      </dict>
      <key>dooreffect_000059</key>
      <dict>
        <key>frame</key>
        <string>{{670,436},{85,80}}</string>
        <key>offset</key>
        <string>{0.00,-3.38}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{83,84.75}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dooreffect.png</string>
      <key>size</key>
      <string>{896,884}</string>
      <key>textureFileName</key>
      <string>dooreffect.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>door1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50926</real>
        <key>anchorY</key>
        <real>0.56485</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>door2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50926</real>
        <key>anchorY</key>
        <real>0.58725</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>door3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50909</real>
        <key>anchorY</key>
        <real>0.61634</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>door4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49339</real>
        <key>anchorY</key>
        <real>0.37270</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>door5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49677</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>51</integer>
      </dict>
      <key>door6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>52</integer>
        <key>end</key>
        <integer>57</integer>
      </dict>
      <key>organ</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48795</real>
        <key>anchorY</key>
        <real>0.50501</real>
        <key>start</key>
        <integer>58</integer>
        <key>end</key>
        <integer>59</integer>
      </dict>
    </dict>
  </dict>
</plist>