<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect04_000000</key>
      <dict>
        <key>frame</key>
        <string>{{510,646},{184,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{182,64}</string>
      </dict>
      <key>effect04_000001</key>
      <dict>
        <key>frame</key>
        <string>{{510,520},{187,126}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{185,124}</string>
      </dict>
      <key>effect04_000002</key>
      <dict>
        <key>frame</key>
        <string>{{659,847},{94,96}}</string>
        <key>offset</key>
        <string>{-1.00,-11.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000003</key>
      <dict>
        <key>frame</key>
        <string>{{469,776},{190,192}}</string>
        <key>offset</key>
        <string>{-1.25,-11.15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000004</key>
      <dict>
        <key>frame</key>
        <string>{{249,780},{220,223}}</string>
        <key>offset</key>
        <string>{-1.10,-10.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000005</key>
      <dict>
        <key>frame</key>
        <string>{{273,0},{251,255}}</string>
        <key>offset</key>
        <string>{-0.85,-10.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,514},{257,266}}</string>
        <key>offset</key>
        <string>{3.00,-2.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000007</key>
      <dict>
        <key>frame</key>
        <string>{{257,514},{253,262}}</string>
        <key>offset</key>
        <string>{3.30,-2.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000008</key>
      <dict>
        <key>frame</key>
        <string>{{249,1009},{3,3}}</string>
        <key>offset</key>
        <string>{-130.00,136.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000009</key>
      <dict>
        <key>frame</key>
        <string>{{249,1006},{3,3}}</string>
        <key>offset</key>
        <string>{-1.60,-17.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000010</key>
      <dict>
        <key>frame</key>
        <string>{{249,1012},{3,3}}</string>
        <key>offset</key>
        <string>{-1.60,-17.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000011</key>
      <dict>
        <key>frame</key>
        <string>{{249,1003},{3,3}}</string>
        <key>offset</key>
        <string>{-1.60,-17.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000012</key>
      <dict>
        <key>frame</key>
        <string>{{255,1006},{3,3}}</string>
        <key>offset</key>
        <string>{-1.60,-17.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000013</key>
      <dict>
        <key>frame</key>
        <string>{{252,1015},{3,3}}</string>
        <key>offset</key>
        <string>{-1.60,-17.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,273.4}</string>
      </dict>
      <key>effect04_000014</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{164,167}}</string>
        <key>offset</key>
        <string>{79.08,74.80}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000015</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,265}}</string>
        <key>offset</key>
        <string>{-14.67,-14.80}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000016</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{261,249}}</string>
        <key>offset</key>
        <string>{-21.22,-23.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000017</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{249,237}}</string>
        <key>offset</key>
        <string>{-27.92,-29.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000018</key>
      <dict>
        <key>frame</key>
        <string>{{261,265},{237,246}}</string>
        <key>offset</key>
        <string>{-34.67,-26.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000019</key>
      <dict>
        <key>frame</key>
        <string>{{510,255},{243,265}}</string>
        <key>offset</key>
        <string>{-35.72,-25.80}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000020</key>
      <dict>
        <key>frame</key>
        <string>{{659,712},{142,135}}</string>
        <key>offset</key>
        <string>{-85.77,-89.60}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000021</key>
      <dict>
        <key>frame</key>
        <string>{{252,1012},{3,3}}</string>
        <key>offset</key>
        <string>{-159.57,-42.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000022</key>
      <dict>
        <key>frame</key>
        <string>{{249,1015},{3,3}}</string>
        <key>offset</key>
        <string>{-35.67,-42.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000023</key>
      <dict>
        <key>frame</key>
        <string>{{252,1003},{3,3}}</string>
        <key>offset</key>
        <string>{-35.67,-42.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000024</key>
      <dict>
        <key>frame</key>
        <string>{{252,1006},{3,3}}</string>
        <key>offset</key>
        <string>{-35.67,-42.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000025</key>
      <dict>
        <key>frame</key>
        <string>{{252,1009},{3,3}}</string>
        <key>offset</key>
        <string>{-35.67,-42.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
      <key>effect04_000026</key>
      <dict>
        <key>frame</key>
        <string>{{255,1003},{3,3}}</string>
        <key>offset</key>
        <string>{-35.67,-42.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{320.15,314.6}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>effect04.png</string>
      <key>size</key>
      <string>{922,1018}</string>
      <key>textureFileName</key>
      <string>effect04.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49890</real>
        <key>anchorY</key>
        <real>0.53906</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51622</real>
        <key>anchorY</key>
        <real>0.45161</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>monstereffect1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49195</real>
        <key>anchorY</key>
        <real>0.43800</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>monstereffect2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.38701</real>
        <key>anchorY</key>
        <real>0.36713</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>miss</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>20</integer>
        <key>rect</key>
        <string>0,0,195.00,257.60</string>
        <key>anchorX</key>
        <real>0.48615</real>
        <key>anchorY</key>
        <real>0.63257</real>
        <key>children</key>
        <dict>
          <key>i196439</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>94.80,193.55,0.00,1.00000,1.00000,0.00,0,0.00,0.00|||||94.80,76.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,113.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,151.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,188.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,188.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,189.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,189.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,189.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,190.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,190.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00|94.80,191.25,0.00,1.00000,1.00000,0.80,0,0.00,0.00|94.80,191.85,0.00,1.00000,1.00000,0.60,0,0.00,0.00|94.80,192.40,0.00,1.00000,1.00000,0.40,0,0.00,0.00|94.80,193.00,0.00,1.00000,1.00000,0.20,0,0.00,0.00|94.80,193.55,0.00,1.00000,1.00000,0.00,0,0.00,0.00</string>
          </dict>
          <key>i196534</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||97.50,69.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|97.50,98.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00|97.50,128.80,0.00,1.00000,1.00000,1.00,1,0.00,0.00|97.50,158.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00|97.50,166.15,0.00,1.00000,1.00000,0.75,1,0.00,0.00|97.50,173.65,0.00,1.00000,1.00000,0.50,1,0.00,0.00|97.50,181.10,0.00,1.00000,1.00000,0.25,1,0.00,0.00|97.50,188.60,0.00,1.00000,1.00000,0.00,1,0.00,0.00|null||||||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>