<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect03_000000</key>
      <dict>
        <key>frame</key>
        <string>{{278,751},{242,215}}</string>
        <key>offset</key>
        <string>{-14.70,-9.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{278,249}}</string>
        <key>offset</key>
        <string>{-1.70,4.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,268}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000003</key>
      <dict>
        <key>frame</key>
        <string>{{284,268},{253,228}}</string>
        <key>offset</key>
        <string>{7.80,10.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000004</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{241,215}}</string>
        <key>offset</key>
        <string>{3.80,5.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000005</key>
      <dict>
        <key>frame</key>
        <string>{{278,519},{261,232}}</string>
        <key>offset</key>
        <string>{-3.20,-0.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{284,251}}</string>
        <key>offset</key>
        <string>{-0.70,0.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000007</key>
      <dict>
        <key>frame</key>
        <string>{{537,318},{132,136}}</string>
        <key>offset</key>
        <string>{-16.70,-2.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,266}</string>
      </dict>
      <key>effect03_000008</key>
      <dict>
        <key>frame</key>
        <string>{{539,665},{47,55}}</string>
        <key>offset</key>
        <string>{11.00,13.90}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000009</key>
      <dict>
        <key>frame</key>
        <string>{{539,454},{127,126}}</string>
        <key>offset</key>
        <string>{1.60,14.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000010</key>
      <dict>
        <key>frame</key>
        <string>{{537,164},{197,154}}</string>
        <key>offset</key>
        <string>{0.30,0.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000011</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{198,164}}</string>
        <key>offset</key>
        <string>{-0.35,4.80}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000012</key>
      <dict>
        <key>frame</key>
        <string>{{520,751},{225,181}}</string>
        <key>offset</key>
        <string>{0.05,3.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000013</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{253,195}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000014</key>
      <dict>
        <key>frame</key>
        <string>{{539,580},{88,85}}</string>
        <key>offset</key>
        <string>{15.40,24.65}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
      <key>effect03_000015</key>
      <dict>
        <key>frame</key>
        <string>{{0,963},{3,3}}</string>
        <key>offset</key>
        <string>{3.30,5.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{251,193}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>effect03.png</string>
      <key>size</key>
      <string>{888,968}</string>
      <key>textureFileName</key>
      <string>effect03.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>effect1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49983</real>
        <key>anchorY</key>
        <real>0.49530</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>effect2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51116</real>
        <key>anchorY</key>
        <real>0.53342</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
    </dict>
  </dict>
</plist>