<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fightlose_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,398},{543,132}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{543.00,132.00}</string>
      </dict>
      <key>fightlose_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,532},{246,89}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{246.00,89.00}</string>
      </dict>
      <key>fightlose_0002</key>
      <dict>
        <key>frame</key>
        <string>{{154,623},{64,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,73.00}</string>
      </dict>
      <key>fightlose_0003</key>
      <dict>
        <key>frame</key>
        <string>{{78,623},{74,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{74.00,74.00}</string>
      </dict>
      <key>fightlose_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,623},{75,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{75.00,69.00}</string>
      </dict>
      <key>fightlose_0005</key>
      <dict>
        <key>frame</key>
        <string>{{249,532},{69,109}}</string>
        <key>offset</key>
        <string>{0.00,-3.58}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0006</key>
      <dict>
        <key>frame</key>
        <string>{{475,532},{49,108}}</string>
        <key>offset</key>
        <string>{0.00,4.08}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0007</key>
      <dict>
        <key>frame</key>
        <string>{{546,398},{48,91}}</string>
        <key>offset</key>
        <string>{-0.05,-4.23}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0008</key>
      <dict>
        <key>frame</key>
        <string>{{576,491},{47,86}}</string>
        <key>offset</key>
        <string>{0.05,-7.68}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0009</key>
      <dict>
        <key>frame</key>
        <string>{{526,532},{48,92}}</string>
        <key>offset</key>
        <string>{0.55,-3.68}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0010</key>
      <dict>
        <key>frame</key>
        <string>{{424,532},{49,106}}</string>
        <key>offset</key>
        <string>{1.40,3.22}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0011</key>
      <dict>
        <key>frame</key>
        <string>{{320,532},{50,87}}</string>
        <key>offset</key>
        <string>{0.45,-6.13}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0012</key>
      <dict>
        <key>frame</key>
        <string>{{372,532},{50,87}}</string>
        <key>offset</key>
        <string>{0.55,-7.28}</string>
        <key>sourceSize</key>
        <string>{69.00,116.15}</string>
      </dict>
      <key>fightlose_0013</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{588,395}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{588.00,395.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>fightlose.png</string>
      <key>realTextureFileName</key>
      <string>fightlose.png</string>
      <key>textureFileName</key>
      <string>fightlose.png</string>
      <key>size</key>
      <string>{790,698}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>failTitle</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51667</real>
        <key>anchorY</key>
        <real>0.76856</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>confirmbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50407</real>
        <key>anchorY</key>
        <real>0.48371</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>img0001</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.40625</real>
        <key>anchorY</key>
        <real>0.93151</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>img0002</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.33784</real>
        <key>anchorY</key>
        <real>0.93176</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>img0003</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.36000</real>
        <key>anchorY</key>
        <real>0.89783</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>fire</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51667</real>
        <key>anchorY</key>
        <real>0.42402</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>img093kl</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>losemc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,642.95,964.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.06432</real>
        <key>children</key>
        <dict>
          <key>fire_0</key>
          <dict>
            <key>class</key>
            <string>fire</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>215.60,776.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>strengthBtn</key>
          <dict>
            <key>class</key>
            <string>img0001</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>111.35,588.05,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>buildequipBtn</key>
          <dict>
            <key>class</key>
            <string>img0003</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>411.35,589.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>confimuibtn</key>
          <dict>
            <key>class</key>
            <string>confirmbtn</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>321.45,469.60,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i103940</key>
          <dict>
            <key>class</key>
            <string>img093kl</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>28.95,380.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>title</key>
          <dict>
            <key>class</key>
            <string>failTitle</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>331.05,779.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>fire_1</key>
          <dict>
            <key>class</key>
            <string>fire</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>437.60,777.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>gemBtn</key>
          <dict>
            <key>class</key>
            <string>img0002</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>263.35,589.05,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>