<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>fighting_0000</key>
      <dict>
        <key>frame</key>
        <string>{{186,716},{182,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,90.00}</string>
      </dict>
      <key>fighting_0001</key>
      <dict>
        <key>frame</key>
        <string>{{486,716},{88,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{88.00,88.00}</string>
      </dict>
      <key>fighting_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,716},{183,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{183.00,90.00}</string>
      </dict>
      <key>fighting_0003</key>
      <dict>
        <key>frame</key>
        <string>{{526,410},{182,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,97.00}</string>
      </dict>
      <key>fighting_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{530,407}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{530.00,407.00}</string>
      </dict>
      <key>fighting_0005</key>
      <dict>
        <key>frame</key>
        <string>{{370,716},{114,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{114.00,83.00}</string>
      </dict>
      <key>fighting_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,410},{523,304}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{523.00,304.00}</string>
      </dict>
      <key>fighting_0007</key>
      <dict>
        <key>frame</key>
        <string>{{370,806},{3,3}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{3.00,3.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>fighting.png</string>
      <key>realTextureFileName</key>
      <string>fighting.png</string>
      <key>textureFileName</key>
      <string>fighting.png</string>
      <key>size</key>
      <string>{832,810}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>addFightingbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48889</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>closebtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>jumpBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>raidersBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.46703</real>
        <key>anchorY</key>
        <real>0.47990</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>img1000</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01887</real>
        <key>anchorY</key>
        <real>-0.00246</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>img908</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.06798</real>
        <key>anchorY</key>
        <real>0.00964</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>imgkl2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>imk13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.33333</real>
        <key>anchorY</key>
        <real>0.33333</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>btnMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,474.00,90.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>btnaddFighting</key>
          <dict>
            <key>class</key>
            <string>addFightingbtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>260.00,44.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|383.00,44.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btnjump</key>
          <dict>
            <key>class</key>
            <string>jumpBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|145.50,45.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>jumptxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|135.50,68.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,30,#FFFFFF,left,177,56</string>
            <key>text</key>
            <string>扫荡(999)</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>headicon</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1.00,1.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>levelMc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,78.05,38.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.02632</real>
        <key>children</key>
        <dict>
          <key>gradeTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,82,41</string>
            <key>text</key>
            <string>Lv.99</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>monsterbigMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,585.85,764.60</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00131</real>
        <key>children</key>
        <dict>
          <key>btnMC</key>
          <dict>
            <key>class</key>
            <string>btnMC</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>53.35,444.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>hptxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>442.70,654.60,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,87,43</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>gradeTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>239.70,722.75,0.00,1.00000,1.00000,1.00,10,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,82,41</string>
            <key>text</key>
            <string>Lv.99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>monsterinfotxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>96.85,525.60,0.00,1.00000,1.00000,1.00,6,0.00,0.00,Microsoft YaHei ,25,#BEBEBE,left,450,72</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>btnclose</key>
          <dict>
            <key>class</key>
            <string>closebtn</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>525.85,720.60,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>monsternameTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>320.85,723.55,0.00,1.00000,1.00000,1.00,9,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,165,41</string>
            <key>text</key>
            <string>迪亚波罗嗷嗷</string>
            <key>input</key>
            <false/>
          </dict>
          <key>headiconmc</key>
          <dict>
            <key>class</key>
            <string>headicon</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>159.00,543.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i63083197</key>
          <dict>
            <key>class</key>
            <string>img1000</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>65.85,327.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i63083207</key>
          <dict>
            <key>class</key>
            <string>img908</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>339.10,566.55,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>defensetxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>442.70,596.25,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,87,43</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>attacktxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>442.70,625.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,87,43</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>monstersmallMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,613.85,755.35</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00132</real>
        <key>children</key>
        <dict>
          <key>monsternameTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>268.75,676.75,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,283,41</string>
            <key>text</key>
            <string>迪亚波罗嗷嗷</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i63083241</key>
          <dict>
            <key>class</key>
            <string>imgkl2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>59.90,390.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btnAddFighting</key>
          <dict>
            <key>class</key>
            <string>addFightingbtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>316.85,458.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>headiconmc</key>
          <dict>
            <key>class</key>
            <string>headicon</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>195.30,553.90,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>monsterinfotxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>95.95,516.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,30,#BFBEBE,left,468,44</string>
            <key>text</key>
            <string>啊度搜去无二的花费无法违法师傅</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnclose</key>
          <dict>
            <key>class</key>
            <string>closebtn</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>569.85,676.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btnMC</key>
          <dict>
            <key>class</key>
            <string>btnMC</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>58.75,472.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>hptxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>363.60,632.55,0.00,1.00000,1.00000,1.00,7,0.00,0.00,Microsoft YaHei ,23,#FFFFFF,left,151,41</string>
            <key>text</key>
            <string>888</string>
            <key>input</key>
            <false/>
          </dict>
          <key>defensetxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>379.60,576.85,0.00,1.00000,1.00000,1.00,9,0.00,0.00,Microsoft YaHei ,23,#FFFFFF,left,151,41</string>
            <key>text</key>
            <string>888</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnraiders</key>
          <dict>
            <key>class</key>
            <string>raidersBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>161.95,704.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>attacktxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>361.60,605.25,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Microsoft YaHei ,23,#FFFFFF,left,244,41</string>
            <key>text</key>
            <string>888888-8888888</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>