<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gemui_0000</key>
      <dict>
        <key>frame</key>
        <string>{{250,675},{129,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{129.00,73.00}</string>
      </dict>
      <key>gemui_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,675},{247,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{247.00,90.00}</string>
      </dict>
      <key>gemui_0002</key>
      <dict>
        <key>frame</key>
        <string>{{493,675},{109,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,81.00}</string>
      </dict>
      <key>gemui_0003</key>
      <dict>
        <key>frame</key>
        <string>{{381,655},{110,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{110.00,81.00}</string>
      </dict>
      <key>gemui_0004</key>
      <dict>
        <key>frame</key>
        <string>{{542,466},{364,207}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{364.00,207.00}</string>
      </dict>
      <key>gemui_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,629},{456,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{456.00,24.00}</string>
      </dict>
      <key>gemui_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,466},{539,161}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{539.00,161.00}</string>
      </dict>
      <key>gemui_0007</key>
      <dict>
        <key>frame</key>
        <string>{{643,1},{124,206}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{124.00,206.00}</string>
      </dict>
      <key>gemui_0008</key>
      <dict>
        <key>frame</key>
        <string>{{643,209},{94,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,95.00}</string>
      </dict>
      <key>gemui_0009</key>
      <dict>
        <key>frame</key>
        <string>{{643,306},{93,93}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{93.00,93.00}</string>
      </dict>
      <key>gemui_0010</key>
      <dict>
        <key>frame</key>
        <string>{{493,629},{39,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{39.00,37.00}</string>
      </dict>
      <key>gemui_0011</key>
      <dict>
        <key>frame</key>
        <string>{{738,306},{93,93}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{93.00,93.00}</string>
      </dict>
      <key>gemui_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{640,463}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{640.00,463.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gemui.png</string>
      <key>realTextureFileName</key>
      <string>gemui.png</string>
      <key>textureFileName</key>
      <string>gemui.png</string>
      <key>size</key>
      <string>{942,766}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>addgemup</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.48798</real>
        <key>anchorY</key>
        <real>0.47945</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>closebtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50202</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>pagedown</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50459</real>
        <key>anchorY</key>
        <real>0.51852</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>pageup</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50864</real>
        <key>anchorY</key>
        <real>0.50617</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>img001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.14976</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>img002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.07357</real>
        <key>anchorY</key>
        <real>-0.00417</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>img003</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>img005</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>img006</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>img007</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>lpp</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>oasdqwe</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01075</real>
        <key>anchorY</key>
        <real>-0.04301</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>werewr234</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.98164</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>GemMainUI</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,668.85,961.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00104</real>
        <key>children</key>
        <dict>
          <key>i93398</key>
          <dict>
            <key>class</key>
            <string>img002</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>129.40,647.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i93355</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>128.30,898.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>gemicon0</key>
          <dict>
            <key>class</key>
            <string>gemicon</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>63.40,433.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btnclose</key>
          <dict>
            <key>class</key>
            <string>closebtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>322.70,78.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>closeimg</key>
          <dict>
            <key>class</key>
            <string>lpp</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,16.43132,25.94594,1.00,0,0.00,0.00</string>
          </dict>
          <key>gemicon2</key>
          <dict>
            <key>class</key>
            <string>gemicon</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>327.10,433.50,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i93400</key>
          <dict>
            <key>class</key>
            <string>img003</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>52.90,185.45,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>gemicon3</key>
          <dict>
            <key>class</key>
            <string>gemicon</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>458.40,433.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>gemicon1</key>
          <dict>
            <key>class</key>
            <string>gemicon</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>194.60,433.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gemicon</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,129.00,269.65</string>
        <key>anchorX</key>
        <real>0.01240</real>
        <key>anchorY</key>
        <real>0.23605</real>
        <key>children</key>
        <dict>
          <key>txtAddValue</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>17.10,220.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,25,#FFFFCC,center,89,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>gemupbtn</key>
          <dict>
            <key>class</key>
            <string>addgemup</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>62.95,35.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>selectimg</key>
          <dict>
            <key>class</key>
            <string>oasdqwe</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>15.60,86.20,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>txtxGemName</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>26.60,263.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,25,#CCCCCC,center,78,43</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i93431</key>
          <dict>
            <key>class</key>
            <string>img005</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.60,63.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>nolockimg</key>
          <dict>
            <key>class</key>
            <string>img007</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>16.60,88.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>lockimg</key>
          <dict>
            <key>class</key>
            <string>img006</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>16.60,88.20,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gemlist</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,474.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.95886</real>
        <key>children</key>
        <dict>
          <key>txtpage</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>283.65,74.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,40,#FFFFCC,center,89,57</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btnpageup</key>
          <dict>
            <key>class</key>
            <string>pageup</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>210.00,48.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btnpagedown</key>
          <dict>
            <key>class</key>
            <string>pagedown</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>441.00,49.50,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i93465</key>
          <dict>
            <key>class</key>
            <string>werewr234</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,454.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>