<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2_000000</key>
      <dict>
        <key>frame</key>
        <string>{{707,157},{112,158}}</string>
        <key>offset</key>
        <string>{-2.35,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000001</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{112,157}}</string>
        <key>offset</key>
        <string>{-2.45,0.35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000002</key>
      <dict>
        <key>frame</key>
        <string>{{706,623},{113,157}}</string>
        <key>offset</key>
        <string>{-2.05,-0.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000003</key>
      <dict>
        <key>frame</key>
        <string>{{593,467},{114,156}}</string>
        <key>offset</key>
        <string>{-1.65,-0.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000004</key>
      <dict>
        <key>frame</key>
        <string>{{593,157},{114,155}}</string>
        <key>offset</key>
        <string>{-1.80,-0.70}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000005</key>
      <dict>
        <key>frame</key>
        <string>{{593,312},{114,155}}</string>
        <key>offset</key>
        <string>{-0.90,-1.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000006</key>
      <dict>
        <key>frame</key>
        <string>{{478,310},{115,155}}</string>
        <key>offset</key>
        <string>{-1.55,-1.90}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000007</key>
      <dict>
        <key>frame</key>
        <string>{{478,156},{115,154}}</string>
        <key>offset</key>
        <string>{-0.65,-2.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000008</key>
      <dict>
        <key>frame</key>
        <string>{{362,309},{116,153}}</string>
        <key>offset</key>
        <string>{-0.25,-2.30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000009</key>
      <dict>
        <key>frame</key>
        <string>{{362,156},{116,153}}</string>
        <key>offset</key>
        <string>{-0.40,-3.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000010</key>
      <dict>
        <key>frame</key>
        <string>{{362,462},{116,153}}</string>
        <key>offset</key>
        <string>{-0.25,-2.40}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000011</key>
      <dict>
        <key>frame</key>
        <string>{{477,615},{116,154}}</string>
        <key>offset</key>
        <string>{-0.15,-2.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000012</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{117,154}}</string>
        <key>offset</key>
        <string>{-0.55,-1.60}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000013</key>
      <dict>
        <key>frame</key>
        <string>{{245,154},{117,155}}</string>
        <key>offset</key>
        <string>{0.55,-1.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000014</key>
      <dict>
        <key>frame</key>
        <string>{{124,315},{117,155}}</string>
        <key>offset</key>
        <string>{-0.35,-0.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000015</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{116,156}}</string>
        <key>offset</key>
        <string>{-0.75,-0.85}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000016</key>
      <dict>
        <key>frame</key>
        <string>{{478,0},{115,156}}</string>
        <key>offset</key>
        <string>{-1.15,-0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000017</key>
      <dict>
        <key>frame</key>
        <string>{{593,0},{114,157}}</string>
        <key>offset</key>
        <string>{-1.55,-0.15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000018</key>
      <dict>
        <key>frame</key>
        <string>{{593,623},{113,157}}</string>
        <key>offset</key>
        <string>{-1.95,0.40}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000019</key>
      <dict>
        <key>frame</key>
        <string>{{707,315},{112,158}}</string>
        <key>offset</key>
        <string>{-2.35,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{116.1,157}</string>
      </dict>
      <key>hero2_000020</key>
      <dict>
        <key>frame</key>
        <string>{{360,639},{117,167}}</string>
        <key>offset</key>
        <string>{-4.00,0.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000021</key>
      <dict>
        <key>frame</key>
        <string>{{243,477},{119,162}}</string>
        <key>offset</key>
        <string>{-2.65,-2.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000022</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{121,157}}</string>
        <key>offset</key>
        <string>{-1.35,-5.07}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000023</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,153}}</string>
        <key>offset</key>
        <string>{0.50,-8.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000024</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{122,158}}</string>
        <key>offset</key>
        <string>{-0.50,-5.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000025</key>
      <dict>
        <key>frame</key>
        <string>{{122,631},{121,163}}</string>
        <key>offset</key>
        <string>{-1.00,-2.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000026</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{124,168}}</string>
        <key>offset</key>
        <string>{0.50,0.78}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000027</key>
      <dict>
        <key>frame</key>
        <string>{{0,632},{122,163}}</string>
        <key>offset</key>
        <string>{-0.50,-2.22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000028</key>
      <dict>
        <key>frame</key>
        <string>{{124,157},{121,158}}</string>
        <key>offset</key>
        <string>{-1.00,-5.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000029</key>
      <dict>
        <key>frame</key>
        <string>{{0,321},{124,153}}</string>
        <key>offset</key>
        <string>{0.50,-8.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000030</key>
      <dict>
        <key>frame</key>
        <string>{{122,474},{121,157}}</string>
        <key>offset</key>
        <string>{-1.35,-5.07}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000031</key>
      <dict>
        <key>frame</key>
        <string>{{243,315},{119,162}}</string>
        <key>offset</key>
        <string>{-2.65,-2.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
      <key>hero2_000032</key>
      <dict>
        <key>frame</key>
        <string>{{243,639},{117,167}}</string>
        <key>offset</key>
        <string>{-4.00,0.28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,167.55}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2.png</string>
      <key>size</key>
      <string>{826,870}</string>
      <key>textureFileName</key>
      <string>hero2.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>hero3free</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47115</real>
        <key>anchorY</key>
        <real>0.07006</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>hero3move</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47154</real>
        <key>anchorY</key>
        <real>0.05700</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
    </dict>
  </dict>
</plist>