<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>load_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,971},{438,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{438.00,36.00}</string>
      </dict>
      <key>load_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,925},{456,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{456.00,44.00}</string>
      </dict>
      <key>load_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{615,922}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{615.00,922.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>load.png</string>
      <key>realTextureFileName</key>
      <string>load.png</string>
      <key>textureFileName</key>
      <string>load.png</string>
      <key>size</key>
      <string>{618,1024}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>img002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>img003</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>qwe123</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47317</real>
        <key>anchorY</key>
        <real>-0.02343</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>img001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,614.40,921.60</string>
        <key>anchorX</key>
        <real>0.47412</real>
        <key>anchorY</key>
        <real>0.97515</real>
        <key>children</key>
        <dict>
          <key>i524922869</key>
          <dict>
            <key>class</key>
            <string>qwe123</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>291.00,-22.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>load</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.05,962.40</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00104</real>
        <key>children</key>
        <dict>
          <key>i524922895</key>
          <dict>
            <key>class</key>
            <string>img002</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>102.95,258.50,0.00,1.00000,1.33331,1.00,0,0.00,0.00</string>
          </dict>
          <key>loadprogress</key>
          <dict>
            <key>class</key>
            <string>img003</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>98.40,252.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i524922898</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>303.45,938.55,0.00,1.04167,1.04167,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>