<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>login_0000</key>
      <dict>
        <key>frame</key>
        <string>{{449,198},{113,131}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,131.00}</string>
      </dict>
      <key>login_0001</key>
      <dict>
        <key>frame</key>
        <string>{{437,68},{121,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{121.00,128.00}</string>
      </dict>
      <key>login_0002</key>
      <dict>
        <key>frame</key>
        <string>{{287,373},{57,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,42.00}</string>
      </dict>
      <key>login_0003</key>
      <dict>
        <key>frame</key>
        <string>{{313,166},{122,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{122.00,67.00}</string>
      </dict>
      <key>login_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,68},{379,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{379.00,96.00}</string>
      </dict>
      <key>login_0005</key>
      <dict>
        <key>frame</key>
        <string>{{562,1},{104,138}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{104.00,138.00}</string>
      </dict>
      <key>login_0006</key>
      <dict>
        <key>frame</key>
        <string>{{346,373},{57,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,42.00}</string>
      </dict>
      <key>login_0007</key>
      <dict>
        <key>frame</key>
        <string>{{564,141},{104,137}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{104.00,137.00}</string>
      </dict>
      <key>login_0008</key>
      <dict>
        <key>frame</key>
        <string>{{559,331},{100,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,100.00}</string>
      </dict>
      <key>login_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{559,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{559.00,65.00}</string>
      </dict>
      <key>login_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,166},{310,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{310.00,79.00}</string>
      </dict>
      <key>login_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,335},{284,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{284.00,61.00}</string>
      </dict>
      <key>login_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,247},{309,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{309.00,86.00}</string>
      </dict>
      <key>login_0013</key>
      <dict>
        <key>frame</key>
        <string>{{449,331},{108,84}}</string>
        <key>offset</key>
        <string>{-2.50,-14.50}</string>
        <key>sourceSize</key>
        <string>{135.00,124.00}</string>
      </dict>
      <key>login_0014</key>
      <dict>
        <key>frame</key>
        <string>{{312,247},{135,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{135.00,124.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>login.png</string>
      <key>realTextureFileName</key>
      <string>login.png</string>
      <key>textureFileName</key>
      <string>login.png</string>
      <key>size</key>
      <string>{762,440}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>fastqqlogin</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.53982</real>
        <key>anchorY</key>
        <real>0.60305</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>fastwxlogin</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.53017</real>
        <key>anchorY</key>
        <real>0.60938</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>leftBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>loginout</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>playBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49472</real>
        <key>anchorY</key>
        <real>0.53125</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>qqlogin</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.51923</real>
        <key>anchorY</key>
        <real>0.60870</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>rightBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>wxlogin</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50144</real>
        <key>anchorY</key>
        <real>0.61314</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>png001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>png002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00456</real>
        <key>anchorY</key>
        <real>1.06462</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>png003</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>png008</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>png009</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00324</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>serverstate</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.77823</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>main</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,641.50,961.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00104</real>
        <key>children</key>
        <dict>
          <key>fastqqloginbtn</key>
          <dict>
            <key>class</key>
            <string>fastqqlogin</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>436.00,245.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>playbtn</key>
          <dict>
            <key>class</key>
            <string>playBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>313.95,110.95,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>clickSelectServerbtn</key>
          <dict>
            <key>class</key>
            <string>png002</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>54.45,262.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>wxloginbtn</key>
          <dict>
            <key>class</key>
            <string>wxlogin</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>233.90,251.05,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>loginoutbtn</key>
          <dict>
            <key>class</key>
            <string>loginout</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>509.45,922.00,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>txtclickname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>395.95,255.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Microsoft YaHei ,35,#FFFF00,center,193,54</string>
            <key>text</key>
            <string>点击选区</string>
            <key>input</key>
            <false/>
          </dict>
          <key>fastwxloginbtn</key>
          <dict>
            <key>class</key>
            <string>fastwxlogin</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>233.85,245.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>txtver</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>247.35,942.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Microsoft YaHei ,15,#FFFFFF,center,396,32</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i493450523</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>153.95,612.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,40,#000000,center,362,105</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>qqloginbtn</key>
          <dict>
            <key>class</key>
            <string>qqlogin</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>429.40,249.50,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>txtservername</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>59.95,251.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00,Microsoft YaHei ,35,#FFFFFF,center,352,50</string>
            <key>text</key>
            <string>阿萨飒飒</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>selectserver</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,348.15,84.00</string>
        <key>anchorX</key>
        <real>0.29786</real>
        <key>anchorY</key>
        <real>0.51726</real>
        <key>children</key>
        <dict>
          <key>hotnew</key>
          <dict>
            <key>class</key>
            <string>serverstate</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>229.20,91.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>txtservername</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,62.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,25,#CCCCCC,left,208,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>selectserverMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,422.50,795.65</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00126</real>
        <key>children</key>
        <dict>
          <key>txtservername</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>214.05,795.65,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,25,#CCCCCC,center,208,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>leftBtn</key>
          <dict>
            <key>class</key>
            <string>leftBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>258.50,155.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>pagetxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>295.80,177.15,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,30,#CCCCCC,center,45,44</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>rightBtn</key>
          <dict>
            <key>class</key>
            <string>rightBtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>378.50,155.35,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>