<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>maplist0_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{7,7}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>maplist0.png</string>
      <key>size</key>
      <string>{64,64}</string>
      <key>textureFileName</key>
      <string>maplist0.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>img002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>astarlevel0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,641.75,940.55</string>
        <key>anchorX</key>
        <real>0.00195</real>
        <key>anchorY</key>
        <real>0.00106</real>
        <key>children</key>
        <dict>
          <key>i4545</key>
          <dict>
            <key>class</key>
            <string>img002</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>0.00,1.15,0.00,0.20000,0.20000,1.00,17,0.00,0.00</string>
          </dict>
          <key>scene1_4_9_qubie</key>
          <dict>
            <key>class</key>
            <string>scenepoint</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>363.75,763.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i4592</key>
          <dict>
            <key>class</key>
            <string>npc1025</string>
            <key>zIndex</key>
            <integer>41</integer>
            <key>frames</key>
            <string>123.25,259.95,0.00,1.00000,1.00000,1.00,41,0.00,0.00</string>
          </dict>
          <key>i4511</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>606.25,761.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4531</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>523.75,837.30,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i4569</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>29</integer>
            <key>frames</key>
            <string>376.80,35.00,0.00,1.00000,1.00000,1.00,29,0.00,0.00</string>
          </dict>
          <key>i4563</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>26</integer>
            <key>frames</key>
            <string>129.75,35.00,0.00,1.00000,1.00000,1.00,26,0.00,0.00</string>
          </dict>
          <key>i4571</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>30</integer>
            <key>frames</key>
            <string>454.25,35.00,0.00,1.00000,1.00000,1.00,30,0.00,0.00</string>
          </dict>
          <key>i4525</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>444.75,761.30,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i4514</key>
          <dict>
            <key>class</key>
            <string>herodown</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>364.75,681.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i4529</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>44.75,761.30,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i4537</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>198.75,835.30,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>i4541</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>44.75,835.30,0.00,1.00000,1.00000,1.00,15,0.00,0.00</string>
          </dict>
          <key>i4555</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>22</integer>
            <key>frames</key>
            <string>198.75,922.05,0.00,1.00000,1.00000,1.00,22,0.00,0.00</string>
          </dict>
          <key>i4521</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>204.75,761.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i4588</key>
          <dict>
            <key>class</key>
            <string>npc1023</string>
            <key>zIndex</key>
            <integer>39</integer>
            <key>frames</key>
            <string>531.25,443.95,0.00,1.00000,1.00000,1.00,39,0.00,0.00</string>
          </dict>
          <key>i4590</key>
          <dict>
            <key>class</key>
            <string>npc1026</string>
            <key>zIndex</key>
            <integer>40</integer>
            <key>frames</key>
            <string>145.25,669.95,0.00,1.00000,1.00000,1.00,40,0.00,0.00</string>
          </dict>
          <key>i4543</key>
          <dict>
            <key>class</key>
            <string>npc3001</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>448.80,512.95,0.00,1.00000,1.00000,1.00,16,0.00,0.00</string>
          </dict>
          <key>i4519</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>525.75,761.30,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i4559</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>24</integer>
            <key>frames</key>
            <string>44.75,922.05,0.00,1.00000,1.00000,1.00,24,0.00,0.00</string>
          </dict>
          <key>i4553</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>282.75,922.05,0.00,1.00000,1.00000,1.00,21,0.00,0.00</string>
          </dict>
          <key>i4584</key>
          <dict>
            <key>class</key>
            <string>npc3005</string>
            <key>zIndex</key>
            <integer>37</integer>
            <key>frames</key>
            <string>137.80,565.45,0.00,1.00000,1.00000,1.00,37,0.00,0.00</string>
          </dict>
          <key>i4549</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>523.75,924.05,0.00,1.00000,1.00000,1.00,19,0.00,0.00</string>
          </dict>
          <key>i4547</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>606.25,924.05,0.00,1.00000,1.00000,1.00,18,0.00,0.00</string>
          </dict>
          <key>i4551</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>446.75,924.05,0.00,1.00000,1.00000,1.00,20,0.00,0.00</string>
          </dict>
          <key>i4557</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>23</integer>
            <key>frames</key>
            <string>118.75,922.05,0.00,1.00000,1.00000,1.00,23,0.00,0.00</string>
          </dict>
          <key>i4567</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>28</integer>
            <key>frames</key>
            <string>291.70,35.00,0.00,1.00000,1.00000,1.00,28,0.00,0.00</string>
          </dict>
          <key>i4586</key>
          <dict>
            <key>class</key>
            <string>npc3006</string>
            <key>zIndex</key>
            <integer>38</integer>
            <key>frames</key>
            <string>527.20,178.00,0.00,1.00000,1.00000,1.00,38,0.00,0.00</string>
          </dict>
          <key>i4561</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>25</integer>
            <key>frames</key>
            <string>51.75,35.00,0.00,1.00000,1.00000,1.00,25,0.00,0.00</string>
          </dict>
          <key>i4581</key>
          <dict>
            <key>class</key>
            <string>npc3002</string>
            <key>zIndex</key>
            <integer>35</integer>
            <key>frames</key>
            <string>530.80,353.20,0.00,1.00000,1.00000,1.00,35,0.00,0.00</string>
          </dict>
          <key>i4516</key>
          <dict>
            <key>class</key>
            <string>heroup</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>359.00,365.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>scene1_4_9</key>
          <dict>
            <key>class</key>
            <string>scenepoint</string>
            <key>zIndex</key>
            <integer>36</integer>
            <key>frames</key>
            <string>291.70,763.30,0.00,1.00000,1.00000,1.00,36,0.00,0.00</string>
          </dict>
          <key>i4573</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>31</integer>
            <key>frames</key>
            <string>531.70,31.00,0.00,1.00000,1.00000,1.00,31,0.00,0.00</string>
          </dict>
          <key>i4575</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>32</integer>
            <key>frames</key>
            <string>618.25,31.00,0.00,1.00000,1.00000,1.00,32,0.00,0.00</string>
          </dict>
          <key>i4535</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>282.75,835.30,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>i4527</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>606.25,837.30,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i4577</key>
          <dict>
            <key>class</key>
            <string>npc3003</string>
            <key>zIndex</key>
            <integer>33</integer>
            <key>frames</key>
            <string>116.75,355.95,0.00,1.00000,1.00000,1.00,33,0.00,0.00</string>
          </dict>
          <key>i4596</key>
          <dict>
            <key>class</key>
            <string>npc1024</string>
            <key>zIndex</key>
            <integer>43</integer>
            <key>frames</key>
            <string>527.25,271.95,0.00,1.00000,1.00000,1.00,43,0.00,0.00</string>
          </dict>
          <key>i4533</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>446.75,837.30,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>i4594</key>
          <dict>
            <key>class</key>
            <string>npc1022</string>
            <key>zIndex</key>
            <integer>42</integer>
            <key>frames</key>
            <string>121.25,455.95,0.00,1.00000,1.00000,1.00,42,0.00,0.00</string>
          </dict>
          <key>i4565</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>27</integer>
            <key>frames</key>
            <string>215.80,35.00,0.00,1.00000,1.00000,1.00,27,0.00,0.00</string>
          </dict>
          <key>i4539</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>118.75,835.30,0.00,1.00000,1.00000,1.00,14,0.00,0.00</string>
          </dict>
          <key>i4523</key>
          <dict>
            <key>class</key>
            <string>stoppoint</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>123.25,761.30,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i4579</key>
          <dict>
            <key>class</key>
            <string>npc3007</string>
            <key>zIndex</key>
            <integer>34</integer>
            <key>frames</key>
            <string>126.90,187.25,0.00,1.00000,1.00000,1.00,34,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>herodown</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,28.50,28.50</string>
        <key>anchorX</key>
        <real>0.54386</real>
        <key>anchorY</key>
        <real>0.45439</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>heroup</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,28.50,28.50</string>
        <key>anchorX</key>
        <real>0.48246</real>
        <key>anchorY</key>
        <real>0.51579</real>
        <key>children</key>
        <dict>
          <key>i4647</key>
          <dict>
            <key>class</key>
            <string>herodown</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>15.50,12.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>maplevelInfo0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,628.55,919.30</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00109</real>
        <key>children</key>
        <dict>
          <key>i4673</key>
          <dict>
            <key>class</key>
            <string>sceneitem1_9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>322.05,759.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i4675</key>
          <dict>
            <key>class</key>
            <string>sceneitem1_10_1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>319.50,775.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>npc1022</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,2.00,2.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc1023</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,2.00,2.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc1024</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,2.00,2.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc1025</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,2.00,2.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc1026</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,2.00,2.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,83.00,135.00</string>
        <key>anchorX</key>
        <real>0.49398</real>
        <key>anchorY</key>
        <real>0.11852</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,80.00,80.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.47500</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3003</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,84.00,146.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.03425</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3005</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,194.00,225.00</string>
        <key>anchorX</key>
        <real>0.47938</real>
        <key>anchorY</key>
        <real>0.24667</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3006</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,146.00,170.00</string>
        <key>anchorX</key>
        <real>0.49281</real>
        <key>anchorY</key>
        <real>0.35912</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>npc3007</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,176.00,150.00</string>
        <key>anchorX</key>
        <real>0.54545</real>
        <key>anchorY</key>
        <real>0.44667</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>sceneitem1_10_1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,144.15,143.05</string>
        <key>anchorX</key>
        <real>0.48248</real>
        <key>anchorY</key>
        <real>0.51311</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>sceneitem1_9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,613.00,320.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>scenepoint</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,44.00,28.95</string>
        <key>anchorX</key>
        <real>0.57955</real>
        <key>anchorY</key>
        <real>0.49914</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>stoppoint</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,49.00,33.95</string>
        <key>anchorX</key>
        <real>0.52041</real>
        <key>anchorY</key>
        <real>0.51399</real>
        <key>children</key>
        <dict/>
      </dict>
    </dict>
  </dict>
</plist>