<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>melting_0000</key>
      <dict>
        <key>frame</key>
        <string>{{251,686},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>melting_0001</key>
      <dict>
        <key>frame</key>
        <string>{{251,778},{184,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{184.00,91.00}</string>
      </dict>
      <key>melting_0002</key>
      <dict>
        <key>frame</key>
        <string>{{437,778},{184,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{184.00,91.00}</string>
      </dict>
      <key>melting_0003</key>
      <dict>
        <key>frame</key>
        <string>{{501,686},{88,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{88.00,88.00}</string>
      </dict>
      <key>melting_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,686},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>melting_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,778},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>melting_0006</key>
      <dict>
        <key>frame</key>
        <string>{{506,1},{36,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{36.00,43.00}</string>
      </dict>
      <key>melting_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{503,683}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{503.00,683.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>melting.png</string>
      <key>realTextureFileName</key>
      <string>melting.png</string>
      <key>textureFileName</key>
      <string>melting.png</string>
      <key>size</key>
      <string>{706,886}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>autoFilterBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50806</real>
        <key>anchorY</key>
        <real>0.52222</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>buildEquipBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.52174</real>
        <key>anchorY</key>
        <real>0.54945</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>buildExcellentBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49457</real>
        <key>anchorY</key>
        <real>0.51648</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>closeBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>meltingBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50403</real>
        <key>anchorY</key>
        <real>0.47778</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>waerbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>fgasdgae</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>wearbg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>meltingMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,631.80,961.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00104</real>
        <key>children</key>
        <dict>
          <key>closeBtn</key>
          <dict>
            <key>class</key>
            <string>closeBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>572.20,895.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>meltingNumTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>130.70,764.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,27,#FFE3BC,center,127,52</string>
            <key>text</key>
            <string>9999999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>buildExcellentBtn</key>
          <dict>
            <key>class</key>
            <string>buildExcellentBtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>510.25,743.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>buildEquipBtn</key>
          <dict>
            <key>class</key>
            <string>buildEquipBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>410.25,746.10,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>meltingBtn</key>
          <dict>
            <key>class</key>
            <string>meltingBtn</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>458.20,184.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>autoFilterBtn</key>
          <dict>
            <key>class</key>
            <string>autoFilterBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>186.15,188.50,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>newEquipMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,36.00,43.00</string>
        <key>anchorX</key>
        <real>0.01111</real>
        <key>anchorY</key>
        <real>0.18953</real>
        <key>children</key>
        <dict>
          <key>i876489</key>
          <dict>
            <key>class</key>
            <string>fgasdgae</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,43.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>wearEquipMC</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,596.00,883.20</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00113</real>
        <key>children</key>
        <dict>
          <key>closeBtn</key>
          <dict>
            <key>class</key>
            <string>closeBtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>552.00,839.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i876515</key>
          <dict>
            <key>class</key>
            <string>wearbg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>67.90,865.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>wearBtn</key>
          <dict>
            <key>class</key>
            <string>waerbtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>319.40,273.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>