<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>payment_0000</key>
      <dict>
        <key>frame</key>
        <string>{{674,123},{182,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,65.00}</string>
      </dict>
      <key>payment_0001</key>
      <dict>
        <key>frame</key>
        <string>{{727,1},{182,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,65.00}</string>
      </dict>
      <key>payment_0002</key>
      <dict>
        <key>frame</key>
        <string>{{484,161},{188,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{188.00,65.00}</string>
      </dict>
      <key>payment_0003</key>
      <dict>
        <key>frame</key>
        <string>{{893,518},{126,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{126.00,62.00}</string>
      </dict>
      <key>payment_0004</key>
      <dict>
        <key>frame</key>
        <string>{{882,321},{145,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{145.00,62.00}</string>
      </dict>
      <key>payment_0005</key>
      <dict>
        <key>frame</key>
        <string>{{882,257},{146,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{146.00,62.00}</string>
      </dict>
      <key>payment_0006</key>
      <dict>
        <key>frame</key>
        <string>{{819,190},{182,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{182.00,65.00}</string>
      </dict>
      <key>payment_0007</key>
      <dict>
        <key>frame</key>
        <string>{{876,455},{178,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{178.00,61.00}</string>
      </dict>
      <key>payment_0008</key>
      <dict>
        <key>frame</key>
        <string>{{893,582},{87,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{87.00,88.00}</string>
      </dict>
      <key>payment_0009</key>
      <dict>
        <key>frame</key>
        <string>{{445,658},{26,26}}</string>
        <key>offset</key>
        <string>{0.20,-0.13}</string>
        <key>sourceSize</key>
        <string>{27.00,26.25}</string>
      </dict>
      <key>payment_0010</key>
      <dict>
        <key>frame</key>
        <string>{{416,658},{27,26}}</string>
        <key>offset</key>
        <string>{0.00,0.13}</string>
        <key>sourceSize</key>
        <string>{27.00,26.25}</string>
      </dict>
      <key>payment_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{542,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{542.00,51.00}</string>
      </dict>
      <key>payment_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,54},{538,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{538.00,52.00}</string>
      </dict>
      <key>payment_0013</key>
      <dict>
        <key>frame</key>
        <string>{{457,482},{417,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{417.00,67.00}</string>
      </dict>
      <key>payment_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,242},{479,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{479.00,74.00}</string>
      </dict>
      <key>payment_0015</key>
      <dict>
        <key>frame</key>
        <string>{{1,161},{481,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{481.00,79.00}</string>
      </dict>
      <key>payment_0016</key>
      <dict>
        <key>frame</key>
        <string>{{469,387},{385,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{385.00,85.00}</string>
      </dict>
      <key>payment_0017</key>
      <dict>
        <key>frame</key>
        <string>{{452,564},{439,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{439.00,92.00}</string>
      </dict>
      <key>payment_0018</key>
      <dict>
        <key>frame</key>
        <string>{{482,242},{335,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{335.00,66.00}</string>
      </dict>
      <key>payment_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,640},{413,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{413.00,54.00}</string>
      </dict>
      <key>payment_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1,564},{449,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{449.00,74.00}</string>
      </dict>
      <key>payment_0021</key>
      <dict>
        <key>frame</key>
        <string>{{856,387},{179,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{179.00,66.00}</string>
      </dict>
      <key>payment_0022</key>
      <dict>
        <key>frame</key>
        <string>{{1,318},{466,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{466.00,98.00}</string>
      </dict>
      <key>payment_0023</key>
      <dict>
        <key>frame</key>
        <string>{{541,54},{184,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{184.00,67.00}</string>
      </dict>
      <key>payment_0024</key>
      <dict>
        <key>frame</key>
        <string>{{1,418},{462,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{462.00,62.00}</string>
      </dict>
      <key>payment_0025</key>
      <dict>
        <key>frame</key>
        <string>{{1,108},{506,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{506.00,51.00}</string>
      </dict>
      <key>payment_0026</key>
      <dict>
        <key>frame</key>
        <string>{{469,318},{411,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{411.00,67.00}</string>
      </dict>
      <key>payment_0027</key>
      <dict>
        <key>frame</key>
        <string>{{1,482},{454,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{454.00,80.00}</string>
      </dict>
      <key>payment_0028</key>
      <dict>
        <key>frame</key>
        <string>{{858,68},{178,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{178.00,61.00}</string>
      </dict>
      <key>payment_0029</key>
      <dict>
        <key>frame</key>
        <string>{{1,696},{1,1}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1.00,1.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>payment.png</string>
      <key>realTextureFileName</key>
      <string>payment.png</string>
      <key>textureFileName</key>
      <string>payment.png</string>
      <key>size</key>
      <string>{1144,700}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>buy1</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.51044</real>
        <key>anchorY</key>
        <real>0.46231</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>buy2</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.53791</real>
        <key>anchorY</key>
        <real>0.46231</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>buy3</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49415</real>
        <key>anchorY</key>
        <real>0.50846</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>buy4</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.53175</real>
        <key>anchorY</key>
        <real>0.46290</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>buy5</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.51379</real>
        <key>anchorY</key>
        <real>0.46290</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>buy6</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.51678</real>
        <key>anchorY</key>
        <real>0.46290</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>buy7</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.53791</real>
        <key>anchorY</key>
        <real>0.46231</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>getPaymentBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.02640</real>
        <key>anchorY</key>
        <real>1.02623</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>smallcloseBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>dian</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51852</real>
        <key>anchorY</key>
        <real>0.48571</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>img001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.43838</real>
        <key>anchorY</key>
        <real>0.33333</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>img004</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47249</real>
        <key>anchorY</key>
        <real>0.52019</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>img006</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00480</real>
        <key>anchorY</key>
        <real>1.00299</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>img007</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02150</real>
        <key>anchorY</key>
        <real>0.92432</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>img008</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02973</real>
        <key>anchorY</key>
        <real>0.84747</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>img009</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01026</real>
        <key>anchorY</key>
        <real>0.11471</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>img010</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02278</real>
        <key>anchorY</key>
        <real>1.01304</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>img011</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.63373</real>
        <key>anchorY</key>
        <real>0.04621</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>img012</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.36259</real>
        <key>anchorY</key>
        <real>0.35185</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>img013</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54343</real>
        <key>anchorY</key>
        <real>-0.61824</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>img014</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.95196</real>
        <key>anchorY</key>
        <real>0.48561</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>img015</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51288</real>
        <key>anchorY</key>
        <real>0.42959</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>img016</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.92799</real>
        <key>anchorY</key>
        <real>0.49403</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>img017</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.46006</real>
        <key>anchorY</key>
        <real>0.39355</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>img018</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.42994</real>
        <key>anchorY</key>
        <real>0.40196</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>img019</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.44465</real>
        <key>anchorY</key>
        <real>0.49403</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>img022</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06839</real>
        <key>anchorY</key>
        <real>0.89063</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>img023</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02640</real>
        <key>anchorY</key>
        <real>1.02623</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>kcsvlklsa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>paymentinfo_0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,582.40,678.05</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00147</real>
        <key>children</key>
        <dict>
          <key>i6069</key>
          <dict>
            <key>class</key>
            <string>img010</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>91.80,610.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i6081</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>323.80,645.60,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>217.10,382.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i6067</key>
          <dict>
            <key>class</key>
            <string>img014</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>259.35,645.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>219.10,385.10,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>310.25,353.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,578.40,676.65</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00148</real>
        <key>children</key>
        <dict>
          <key>i6108</key>
          <dict>
            <key>class</key>
            <string>img009</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>88.00,535.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i6112</key>
          <dict>
            <key>class</key>
            <string>img016</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>256.75,643.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>309.15,352.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>216.00,381.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i6119</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>322.40,644.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>216.00,383.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,591.85,676.15</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00148</real>
        <key>children</key>
        <dict>
          <key>i6158</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>370.30,643.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>308.20,347.85,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i6150</key>
          <dict>
            <key>class</key>
            <string>img007</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>59.75,603.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i6160</key>
          <dict>
            <key>class</key>
            <string>img004</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>307.05,645.20,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>207.40,382.80,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>207.40,382.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,587.65,681.40</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00147</real>
        <key>children</key>
        <dict>
          <key>i6202</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>375.10,644.85,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>207.55,384.75,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i6192</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>283.25,638.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>207.25,386.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i6194</key>
          <dict>
            <key>class</key>
            <string>img022</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>46.25,604.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>304.65,348.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,575.45,680.25</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00147</real>
        <key>children</key>
        <dict>
          <key>i6237</key>
          <dict>
            <key>class</key>
            <string>img012</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>222.60,640.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>211.80,385.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>311.50,349.20,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i6229</key>
          <dict>
            <key>class</key>
            <string>img008</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>89.05,599.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>211.60,385.15,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,575.40,676.35</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00148</real>
        <key>children</key>
        <dict>
          <key>i6273</key>
          <dict>
            <key>class</key>
            <string>img019</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>257.00,643.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i6275</key>
          <dict>
            <key>class</key>
            <string>img011</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>304.90,550.85,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>310.50,350.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>212.05,381.75,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>212.10,381.60,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,573.40,677.15</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00148</real>
        <key>children</key>
        <dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy5</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>305.50,348.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>209.60,384.65,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i6327</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>370.45,644.90,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i6313</key>
          <dict>
            <key>class</key>
            <string>img018</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>281.35,638.65,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i6315</key>
          <dict>
            <key>class</key>
            <string>img013</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>320.25,496.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>209.80,384.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>paymentinfo_7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,575.40,675.25</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00148</real>
        <key>children</key>
        <dict>
          <key>i6354</key>
          <dict>
            <key>class</key>
            <string>img017</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>282.50,637.65,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>getGiftBtn</key>
          <dict>
            <key>class</key>
            <string>getPaymentBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>211.05,383.25,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i6360</key>
          <dict>
            <key>class</key>
            <string>img015</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>314.05,556.60,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>hasBuy</key>
          <dict>
            <key>class</key>
            <string>img023</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>211.60,383.15,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i6370</key>
          <dict>
            <key>class</key>
            <string>kcsvlklsa</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>375.90,643.15,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>payBtn</key>
          <dict>
            <key>class</key>
            <string>buy6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>307.00,346.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>