<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem2_000000</key>
      <dict>
        <key>frame</key>
        <string>{{92,154},{90,155}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,153}</string>
      </dict>
      <key>sceneitem2_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,154}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,152}</string>
      </dict>
      <key>sceneitem2_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,75}</string>
      </dict>
      <key>sceneitem2_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{92,114}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{90,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem2.png</string>
      <key>size</key>
      <string>{212,356}</string>
      <key>textureFileName</key>
      <string>sceneitem2.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48864</real>
        <key>anchorY</key>
        <real>0.20588</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54587</real>
        <key>anchorY</key>
        <real>0.36184</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50667</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sceneitem4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
  </dict>
</plist>