<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem3_000000</key>
      <dict>
        <key>frame</key>
        <string>{{403,76},{84,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,97}</string>
      </dict>
      <key>sceneitem3_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{227,233}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{225,231}</string>
      </dict>
      <key>sceneitem3_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,589},{91,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>sceneitem3_000003</key>
      <dict>
        <key>frame</key>
        <string>{{91,589},{91,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>sceneitem3_000004</key>
      <dict>
        <key>frame</key>
        <string>{{403,175},{84,98}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>sceneitem3_000005</key>
      <dict>
        <key>frame</key>
        <string>{{396,304},{82,93}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,91}</string>
      </dict>
      <key>sceneitem3_000006</key>
      <dict>
        <key>frame</key>
        <string>{{487,103},{55,158}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{53,156}</string>
      </dict>
      <key>sceneitem3_000007</key>
      <dict>
        <key>frame</key>
        <string>{{478,273},{82,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,165}</string>
      </dict>
      <key>sceneitem3_000008</key>
      <dict>
        <key>frame</key>
        <string>{{116,422},{98,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,165}</string>
      </dict>
      <key>sceneitem3_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,422},{116,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{114,165}</string>
      </dict>
      <key>sceneitem3_000010</key>
      <dict>
        <key>frame</key>
        <string>{{602,523},{40,210}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{38,208}</string>
      </dict>
      <key>sceneitem3_000011</key>
      <dict>
        <key>frame</key>
        <string>{{602,313},{54,210}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,208}</string>
      </dict>
      <key>sceneitem3_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{251,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{249,93}</string>
      </dict>
      <key>sceneitem3_000013</key>
      <dict>
        <key>frame</key>
        <string>{{446,641},{66,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,89}</string>
      </dict>
      <key>sceneitem3_000014</key>
      <dict>
        <key>frame</key>
        <string>{{358,556},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000015</key>
      <dict>
        <key>frame</key>
        <string>{{315,228},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000016</key>
      <dict>
        <key>frame</key>
        <string>{{315,152},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000017</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000018</key>
      <dict>
        <key>frame</key>
        <string>{{315,76},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000019</key>
      <dict>
        <key>frame</key>
        <string>{{390,399},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000020</key>
      <dict>
        <key>frame</key>
        <string>{{302,480},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000021</key>
      <dict>
        <key>frame</key>
        <string>{{302,404},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000022</key>
      <dict>
        <key>frame</key>
        <string>{{270,650},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000023</key>
      <dict>
        <key>frame</key>
        <string>{{270,574},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000024</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000025</key>
      <dict>
        <key>frame</key>
        <string>{{227,247},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000026</key>
      <dict>
        <key>frame</key>
        <string>{{227,171},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000027</key>
      <dict>
        <key>frame</key>
        <string>{{227,95},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000028</key>
      <dict>
        <key>frame</key>
        <string>{{220,328},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000029</key>
      <dict>
        <key>frame</key>
        <string>{{308,323},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000030</key>
      <dict>
        <key>frame</key>
        <string>{{214,422},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000031</key>
      <dict>
        <key>frame</key>
        <string>{{182,589},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000032</key>
      <dict>
        <key>frame</key>
        <string>{{214,498},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000033</key>
      <dict>
        <key>frame</key>
        <string>{{358,632},{88,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,74}</string>
      </dict>
      <key>sceneitem3_000034</key>
      <dict>
        <key>frame</key>
        <string>{{446,475},{82,166}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,164}</string>
      </dict>
      <key>sceneitem3_000035</key>
      <dict>
        <key>frame</key>
        <string>{{487,0},{79,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,101}</string>
      </dict>
      <key>sceneitem3_000036</key>
      <dict>
        <key>frame</key>
        <string>{{560,103},{65,210}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,208}</string>
      </dict>
      <key>sceneitem3_000037</key>
      <dict>
        <key>frame</key>
        <string>{{528,440},{74,221}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{72,219}</string>
      </dict>
      <key>sceneitem3_000038</key>
      <dict>
        <key>frame</key>
        <string>{{625,0},{54,221}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,219}</string>
      </dict>
      <key>sceneitem3_000039</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{123,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,92}</string>
      </dict>
      <key>sceneitem3_000040</key>
      <dict>
        <key>frame</key>
        <string>{{123,328},{97,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem3.png</string>
      <key>size</key>
      <string>{752,734}</string>
      <key>textureFileName</key>
      <string>sceneitem3.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52439</real>
        <key>anchorY</key>
        <real>0.49485</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50955</real>
        <key>anchorY</key>
        <real>0.47500</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sceneitem12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>sceneitem13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52439</real>
        <key>anchorY</key>
        <real>0.45885</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>sceneitem14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48875</real>
        <key>anchorY</key>
        <real>0.46264</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>sceneitem15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47925</real>
        <key>anchorY</key>
        <real>0.29808</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>sceneitem16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.39937</real>
        <key>anchorY</key>
        <real>0.23667</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>sceneitem17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.43750</real>
        <key>anchorY</key>
        <real>0.23667</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>sceneitem18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51447</real>
        <key>anchorY</key>
        <real>0.31273</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>sceneitem19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56579</real>
        <key>anchorY</key>
        <real>0.53942</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.59615</real>
        <key>anchorY</key>
        <real>0.42812</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>sceneitem20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45763</real>
        <key>anchorY</key>
        <real>0.46290</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54688</real>
        <key>anchorY</key>
        <real>0.44944</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>sceneitem4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.47297</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>sceneitem5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.16494</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>sceneitem6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48247</real>
        <key>anchorY</key>
        <real>0.47723</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>sceneitem7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50476</real>
        <key>anchorY</key>
        <real>0.49447</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>sceneitem8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.43056</real>
        <key>anchorY</key>
        <real>0.48858</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>sceneitem9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.36538</real>
        <key>anchorY</key>
        <real>0.52055</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>sceneitem98</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48760</real>
        <key>anchorY</key>
        <real>0.47826</real>
        <key>start</key>
        <integer>39</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
      <key>sceneitem99</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>40</integer>
        <key>end</key>
        <integer>40</integer>
      </dict>
    </dict>
  </dict>
</plist>