<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem1001_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{178,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{176,191}</string>
      </dict>
      <key>sceneitem1001_000001</key>
      <dict>
        <key>frame</key>
        <string>{{114,623},{114,111}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,109}</string>
      </dict>
      <key>sceneitem1001_000002</key>
      <dict>
        <key>frame</key>
        <string>{{228,622},{101,113}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,111}</string>
      </dict>
      <key>sceneitem1001_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,761},{109,76}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,74}</string>
      </dict>
      <key>sceneitem1001_000004</key>
      <dict>
        <key>frame</key>
        <string>{{520,220},{80,244}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,242}</string>
      </dict>
      <key>sceneitem1001_000005</key>
      <dict>
        <key>frame</key>
        <string>{{520,464},{73,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,94}</string>
      </dict>
      <key>sceneitem1001_000006</key>
      <dict>
        <key>frame</key>
        <string>{{519,700},{73,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,113}</string>
      </dict>
      <key>sceneitem1001_000007</key>
      <dict>
        <key>frame</key>
        <string>{{281,280},{96,148}}</string>
        <key>offset</key>
        <string>{-7.88,-0.93}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000008</key>
      <dict>
        <key>frame</key>
        <string>{{425,418},{95,143}}</string>
        <key>offset</key>
        <string>{-8.33,3.02}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{121,140}}</string>
        <key>offset</key>
        <string>{4.52,4.17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,623},{114,138}}</string>
        <key>offset</key>
        <string>{0.27,4.32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000011</key>
      <dict>
        <key>frame</key>
        <string>{{121,483},{108,139}}</string>
        <key>offset</key>
        <string>{-2.13,4.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000012</key>
      <dict>
        <key>frame</key>
        <string>{{178,97},{103,140}}</string>
        <key>offset</key>
        <string>{-5.38,4.07}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000013</key>
      <dict>
        <key>frame</key>
        <string>{{176,290},{105,140}}</string>
        <key>offset</key>
        <string>{-12.53,3.62}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000014</key>
      <dict>
        <key>frame</key>
        <string>{{229,430},{100,139}}</string>
        <key>offset</key>
        <string>{-11.03,3.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000015</key>
      <dict>
        <key>frame</key>
        <string>{{377,280},{95,138}}</string>
        <key>offset</key>
        <string>{-8.53,3.87}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000016</key>
      <dict>
        <key>frame</key>
        <string>{{281,141},{96,139}}</string>
        <key>offset</key>
        <string>{-8.03,3.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000017</key>
      <dict>
        <key>frame</key>
        <string>{{281,0},{96,141}}</string>
        <key>offset</key>
        <string>{-8.03,3.97}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000018</key>
      <dict>
        <key>frame</key>
        <string>{{425,700},{94,139}}</string>
        <key>offset</key>
        <string>{-8.03,4.12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000019</key>
      <dict>
        <key>frame</key>
        <string>{{377,141},{95,139}}</string>
        <key>offset</key>
        <string>{-8.53,3.57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000020</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{95,141}}</string>
        <key>offset</key>
        <string>{-8.53,4.42}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000021</key>
      <dict>
        <key>frame</key>
        <string>{{329,569},{96,141}}</string>
        <key>offset</key>
        <string>{-8.03,3.82}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000022</key>
      <dict>
        <key>frame</key>
        <string>{{329,428},{96,141}}</string>
        <key>offset</key>
        <string>{-8.03,3.67}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000023</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{94,138}}</string>
        <key>offset</key>
        <string>{-8.78,4.47}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000024</key>
      <dict>
        <key>frame</key>
        <string>{{425,561},{95,139}}</string>
        <key>offset</key>
        <string>{-8.38,3.62}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128.05,147.85}</string>
      </dict>
      <key>sceneitem1001_000025</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{176,193}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{174,191}</string>
      </dict>
      <key>sceneitem1001_000026</key>
      <dict>
        <key>frame</key>
        <string>{{472,138},{82,82}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>sceneitem1001_000027</key>
      <dict>
        <key>frame</key>
        <string>{{329,710},{92,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{90,113}</string>
      </dict>
      <key>sceneitem1001_000028</key>
      <dict>
        <key>frame</key>
        <string>{{214,735},{89,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,90}</string>
      </dict>
      <key>sceneitem1001_000029</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{178,95}</string>
      </dict>
      <key>sceneitem1001_000030</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{93,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{91,93}</string>
      </dict>
      <key>sceneitem1001_000031</key>
      <dict>
        <key>frame</key>
        <string>{{114,734},{100,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{98,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem1001.png</string>
      <key>size</key>
      <string>{680,844}</string>
      <key>textureFileName</key>
      <string>sceneitem1001.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49148</real>
        <key>anchorY</key>
        <real>0.34031</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sceneitem12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45467</real>
        <key>anchorY</key>
        <real>0.27568</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>sceneitem13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49487</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>sceneitem14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52676</real>
        <key>anchorY</key>
        <real>0.17819</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>sceneitem15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49225</real>
        <key>anchorY</key>
        <real>0.13142</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>sceneitem16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.44787</real>
        <key>anchorY</key>
        <real>0.51201</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52011</real>
        <key>anchorY</key>
        <real>0.35602</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47500</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>sceneitem5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45556</real>
        <key>anchorY</key>
        <real>0.26549</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>sceneitem6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53563</real>
        <key>anchorY</key>
        <real>0.10278</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>sceneitem7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50056</real>
        <key>anchorY</key>
        <real>0.10421</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>sceneitem8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50989</real>
        <key>anchorY</key>
        <real>0.14677</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>sceneitem9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
    </dict>
  </dict>
</plist>