<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem6_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,142}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{149,140}</string>
      </dict>
      <key>sceneitem6_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{76,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{74,114}</string>
      </dict>
      <key>sceneitem6_000002</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{92,184}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{90,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem6.png</string>
      <key>size</key>
      <string>{252,284}</string>
      <key>textureFileName</key>
      <string>sceneitem6.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
  </dict>
</plist>