<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem7_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{221,262}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{219,260}</string>
      </dict>
      <key>sceneitem7_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,251}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{286,249}</string>
      </dict>
      <key>sceneitem7_000002</key>
      <dict>
        <key>frame</key>
        <string>{{221,251},{152,137}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{150,135}</string>
      </dict>
      <key>sceneitem7_000003</key>
      <dict>
        <key>frame</key>
        <string>{{221,388},{80,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem7.png</string>
      <key>size</key>
      <string>{488,562}</string>
      <key>textureFileName</key>
      <string>sceneitem7.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sceneitem4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
  </dict>
</plist>