<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneitem5_000000</key>
      <dict>
        <key>frame</key>
        <string>{{97,100},{91,102}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
      <key>sceneitem5_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{97,117}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{95,115}</string>
      </dict>
      <key>sceneitem5_000002</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{82,82}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>sceneitem5_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneitem5.png</string>
      <key>size</key>
      <string>{212,218}</string>
      <key>textureFileName</key>
      <string>sceneitem5.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>sceneitem1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>sceneitem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sceneitem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sceneitem4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
  </dict>
</plist>