<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>smallheadimg_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{125,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,122}</string>
      </dict>
      <key>smallheadimg_000001</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{125,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,122}</string>
      </dict>
      <key>smallheadimg_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{125,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,122}</string>
      </dict>
      <key>smallheadimg_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{125,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{123,122}</string>
      </dict>
      <key>smallheadimg_000004</key>
      <dict>
        <key>frame</key>
        <string>{{125,236},{114,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>smallheadimg_000005</key>
      <dict>
        <key>frame</key>
        <string>{{239,124},{114,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>smallheadimg_000006</key>
      <dict>
        <key>frame</key>
        <string>{{125,124},{114,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>smallheadimg_000007</key>
      <dict>
        <key>frame</key>
        <string>{{239,236},{114,112}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>smallheadimg.png</string>
      <key>size</key>
      <string>{426,424}</string>
      <key>textureFileName</key>
      <string>smallheadimg.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>headimg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56301</real>
        <key>anchorY</key>
        <real>0.43607</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>headimg1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56920</real>
        <key>anchorY</key>
        <real>0.43818</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
    </dict>
  </dict>
</plist>