<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>taskui_0000</key>
      <dict>
        <key>frame</key>
        <string>{{402,593},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>taskui_0001</key>
      <dict>
        <key>frame</key>
        <string>{{591,367},{247,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{247.00,90.00}</string>
      </dict>
      <key>taskui_0002</key>
      <dict>
        <key>frame</key>
        <string>{{652,589},{158,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,90.00}</string>
      </dict>
      <key>taskui_0003</key>
      <dict>
        <key>frame</key>
        <string>{{812,551},{158,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,90.00}</string>
      </dict>
      <key>taskui_0004</key>
      <dict>
        <key>frame</key>
        <string>{{625,93},{87,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{87.00,88.00}</string>
      </dict>
      <key>taskui_0005</key>
      <dict>
        <key>frame</key>
        <string>{{591,183},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>taskui_0006</key>
      <dict>
        <key>frame</key>
        <string>{{625,1},{247,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{247.00,90.00}</string>
      </dict>
      <key>taskui_0007</key>
      <dict>
        <key>frame</key>
        <string>{{429,497},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>taskui_0008</key>
      <dict>
        <key>frame</key>
        <string>{{679,459},{158,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{158.00,90.00}</string>
      </dict>
      <key>taskui_0009</key>
      <dict>
        <key>frame</key>
        <string>{{591,275},{248,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{248.00,90.00}</string>
      </dict>
      <key>taskui_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,497},{426,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{426.00,44.00}</string>
      </dict>
      <key>taskui_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,183},{588,312}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{588.00,312.00}</string>
      </dict>
      <key>taskui_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{622,180}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{622.00,180.00}</string>
      </dict>
      <key>taskui_0013</key>
      <dict>
        <key>frame</key>
        <string>{{922,329},{79,89}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,89.00}</string>
      </dict>
      <key>taskui_0014</key>
      <dict>
        <key>frame</key>
        <string>{{1,638},{39,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{39.00,37.00}</string>
      </dict>
      <key>taskui_0015</key>
      <dict>
        <key>frame</key>
        <string>{{840,367},{80,142}}</string>
        <key>offset</key>
        <string>{0.00,-1.05}</string>
        <key>sourceSize</key>
        <string>{80.00,145.00}</string>
      </dict>
      <key>taskui_0016</key>
      <dict>
        <key>frame</key>
        <string>{{841,185},{80,142}}</string>
        <key>offset</key>
        <string>{0.00,-1.05}</string>
        <key>sourceSize</key>
        <string>{80.00,145.00}</string>
      </dict>
      <key>taskui_0017</key>
      <dict>
        <key>frame</key>
        <string>{{923,93},{53,145}}</string>
        <key>offset</key>
        <string>{-11.50,0.00}</string>
        <key>sourceSize</key>
        <string>{80.00,145.00}</string>
      </dict>
      <key>taskui_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1,543},{426,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{426.00,48.00}</string>
      </dict>
      <key>taskui_0019</key>
      <dict>
        <key>frame</key>
        <string>{{841,93},{80,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{80.00,90.00}</string>
      </dict>
      <key>taskui_0020</key>
      <dict>
        <key>frame</key>
        <string>{{874,1},{79,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,90.00}</string>
      </dict>
      <key>taskui_0021</key>
      <dict>
        <key>frame</key>
        <string>{{1,685},{89,26}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,26.00}</string>
      </dict>
      <key>taskui_0022</key>
      <dict>
        <key>frame</key>
        <string>{{1,593},{399,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{399.00,43.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>taskui.png</string>
      <key>realTextureFileName</key>
      <string>taskui.png</string>
      <key>textureFileName</key>
      <string>taskui.png</string>
      <key>size</key>
      <string>{1024,714}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>ImmediatelyTo</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.48889</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>acceptBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>btnReward</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>btnreceive</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>closeBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>completeBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>continueBtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>fighting</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49597</real>
        <key>anchorY</key>
        <real>0.48889</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>movetotask</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>okbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>im213123</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50352</real>
        <key>anchorY</key>
        <real>0.49773</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>img001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49840</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>img009</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>-0.00556</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>kop1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50633</real>
        <key>anchorY</key>
        <real>0.49438</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>lpp</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>mctaskicon</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47500</real>
        <key>anchorY</key>
        <real>0.49966</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>qeqw123123tr</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49648</real>
        <key>anchorY</key>
        <real>0.49792</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>qweqwe</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>srewr02</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50633</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>txtwqe</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03371</real>
        <key>anchorY</key>
        <real>-0.23077</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>we2321mn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49624</real>
        <key>anchorY</key>
        <real>0.40698</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>acceptable</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,80.00,99.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.45455</real>
        <key>children</key>
        <dict>
          <key>i60213054</key>
          <dict>
            <key>class</key>
            <string>qweqwe</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>40.00,45.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|40.00,46.30,0.00,1.00000,1.00000,0.97,0,0.00,0.00|40.00,47.55,0.00,1.00000,1.00000,0.94,0,0.00,0.00|40.00,48.85,0.00,1.00000,1.00000,0.91,0,0.00,0.00|40.00,50.15,0.00,1.00000,1.00000,0.89,0,0.00,0.00|40.00,51.45,0.00,1.00000,1.00000,0.86,0,0.00,0.00|40.00,52.70,0.00,1.00000,1.00000,0.83,0,0.00,0.00|40.00,54.00,0.00,1.00000,1.00000,0.80,0,0.00,0.00|40.00,52.70,0.00,1.00000,1.00000,0.83,0,0.00,0.00|40.00,51.45,0.00,1.00000,1.00000,0.86,0,0.00,0.00|40.00,50.15,0.00,1.00000,1.00000,0.89,0,0.00,0.00|40.00,48.85,0.00,1.00000,1.00000,0.91,0,0.00,0.00|40.00,47.55,0.00,1.00000,1.00000,0.94,0,0.00,0.00|40.00,46.30,0.00,1.00000,1.00000,0.97,0,0.00,0.00|40.00,45.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>complete</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>15</integer>
        <key>rect</key>
        <string>0,0,80.00,99.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.45455</real>
        <key>children</key>
        <dict>
          <key>i60213081</key>
          <dict>
            <key>class</key>
            <string>kop1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>40.00,45.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|40.00,46.30,0.00,1.00000,1.00000,0.97,0,0.00,0.00|40.00,47.55,0.00,1.00000,1.00000,0.94,0,0.00,0.00|40.00,48.85,0.00,1.00000,1.00000,0.91,0,0.00,0.00|40.00,50.15,0.00,1.00000,1.00000,0.89,0,0.00,0.00|40.00,51.45,0.00,1.00000,1.00000,0.86,0,0.00,0.00|40.00,52.70,0.00,1.00000,1.00000,0.83,0,0.00,0.00|40.00,54.00,0.00,1.00000,1.00000,0.80,0,0.00,0.00|40.00,52.70,0.00,1.00000,1.00000,0.83,0,0.00,0.00|40.00,51.45,0.00,1.00000,1.00000,0.86,0,0.00,0.00|40.00,50.15,0.00,1.00000,1.00000,0.89,0,0.00,0.00|40.00,48.85,0.00,1.00000,1.00000,0.91,0,0.00,0.00|40.00,47.55,0.00,1.00000,1.00000,0.94,0,0.00,0.00|40.00,46.30,0.00,1.00000,1.00000,0.97,0,0.00,0.00|40.00,45.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>completetaskmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>50</integer>
        <key>rect</key>
        <string>0,0,486.95,46.20</string>
        <key>anchorX</key>
        <real>0.50098</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>taskmc</key>
          <dict>
            <key>class</key>
            <string>hwer021</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>243.95,23.10,0.00,1.00000,1.00000,0.00,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.14,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.29,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.43,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.57,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.71,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.86,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||243.95,23.10,0.00,1.00000,1.00000,0.89,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.78,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.67,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.55,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.45,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.33,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.22,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.11,0,0.00,0.00|243.95,23.10,0.00,1.00000,1.00000,0.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>hwer021</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,486.95,46.20</string>
        <key>anchorX</key>
        <real>0.50098</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i60213133</key>
          <dict>
            <key>class</key>
            <string>qeqw123123tr</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>243.95,23.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>taskText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,43.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,25,#00CC00,center,487,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>hwer021123</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,429.00,46.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>taskText</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>22.05,43.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,25,#FFCC00,center,383,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i60213159</key>
          <dict>
            <key>class</key>
            <string>qeqw123123tr</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>214.50,23.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>newplayer</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,612.25,576.45</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00173</real>
        <key>children</key>
        <dict>
          <key>npctalk</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>66.25,510.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,25,#FFFFFF,left,489,150</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>btnImmediatelyTo</key>
          <dict>
            <key>class</key>
            <string>ImmediatelyTo</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>317.45,283.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>ncpname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>66.25,548.05,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,30,#64B9BA,left,445,48</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i60213185</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>318.25,419.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>nocomplete</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,80.00,90.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i60213213</key>
          <dict>
            <key>class</key>
            <string>srewr02</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>40.00,45.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>nocompletetaskmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>50</integer>
        <key>rect</key>
        <string>0,0,429.00,46.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>taskmc</key>
          <dict>
            <key>class</key>
            <string>hwer021123</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>214.50,23.10,0.00,1.00000,1.00000,0.00,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.14,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.29,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.43,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.57,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.71,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.86,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||214.50,23.10,0.00,1.00000,1.00000,0.88,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.75,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.63,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.50,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.38,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.25,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.13,0,0.00,0.00|214.50,23.10,0.00,1.00000,1.00000,0.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>npctalkui</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,664.00,962.00</string>
        <key>anchorX</key>
        <real>0.01657</real>
        <key>anchorY</key>
        <real>0.00104</real>
        <key>children</key>
        <dict>
          <key>npctalk</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>61.80,401.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,25,#A8BED5,left,540,107</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>ncpname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>61.80,431.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,25,#A8BED5,left,453,37</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i60213265</key>
          <dict>
            <key>class</key>
            <string>lpp</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>11.00,2.00,0.00,16.43140,25.94594,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>opennpc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,614.95,598.40</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00167</real>
        <key>children</key>
        <dict>
          <key>i60213295</key>
          <dict>
            <key>class</key>
            <string>we2321mn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>320.95,549.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>txtcontent</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>72.70,517.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,25,#D6D6D6,left,497,107</string>
            <key>text</key>
            <string>获得任务物品，可以交任务了阿萨发大水发热是我国服务收入房产税天大河的染色体和人的替换的。</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i60213293</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>320.95,441.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btnok</key>
          <dict>
            <key>class</key>
            <string>okbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>320.95,361.85,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>taskinfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,632.00,182.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00549</real>
        <key>children</key>
        <dict>
          <key>btnmovetoplace</key>
          <dict>
            <key>class</key>
            <string>movetotask</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>542.55,100.05,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>btnreceive</key>
          <dict>
            <key>class</key>
            <string>btnreceive</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>542.00,97.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>taskicon</key>
          <dict>
            <key>class</key>
            <string>mctaskicon</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>544.25,99.70,0.00,0.51852,0.51852,1.00,8,0.00,0.00</string>
          </dict>
          <key>i60213322</key>
          <dict>
            <key>class</key>
            <string>img009</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>10.00,1.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>taskname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>51.00,174.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,30,#FFFFFF,left,515,52</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>btnReward</key>
          <dict>
            <key>class</key>
            <string>btnReward</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>542.00,97.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>tasktarget</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>151.00,62.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,20,#A4B6C3,left,452,34</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>tasktype</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>20.00,112.35,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,20,#FFFFFF,center,135,38</string>
            <key>text</key>
            <string>Side Quest</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txttaskinfo</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>151.00,125.35,0.00,1.00000,1.00000,1.00,5,0.00,0.00,Microsoft YaHei ,25,#A4B6C3,left,309,57</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>taskinfolistmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,429.00,44.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.61312</real>
        <key>children</key>
        <dict>
          <key>i60213359</key>
          <dict>
            <key>class</key>
            <string>im213123</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>214.50,22.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>tasktext</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>2.55,44.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,24,#00CC00,left,379,44</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>taskui</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,612.25,600.45</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00167</real>
        <key>children</key>
        <dict>
          <key>completetTaskbtn</key>
          <dict>
            <key>class</key>
            <string>completeBtn</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>318.75,265.45,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>continuebtn</key>
          <dict>
            <key>class</key>
            <string>continueBtn</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>319.25,265.45,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>ncpname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>66.25,563.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,30,#64B9BA,left,445,48</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i60213385</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>318.25,419.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>npctalk</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>66.25,523.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,23,#FFFFFF,left,489,111</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>rewardmc</key>
          <dict>
            <key>class</key>
            <string>txtwqe</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>36.25,342.45,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>acceptTaskbtn</key>
          <dict>
            <key>class</key>
            <string>acceptBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>319.75,264.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>closeUIbtn</key>
          <dict>
            <key>class</key>
            <string>closeBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>568.75,556.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>fightingbtn</key>
          <dict>
            <key>class</key>
            <string>fighting</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>316.75,264.45,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>