<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tips_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,187},{537,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{537.00,91.00}</string>
      </dict>
      <key>tips_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,373},{477,311}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{477.00,311.00}</string>
      </dict>
      <key>tips_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,280},{537,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{537.00,91.00}</string>
      </dict>
      <key>tips_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{537,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{537.00,91.00}</string>
      </dict>
      <key>tips_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,94},{537,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{537.00,91.00}</string>
      </dict>
      <key>tips_0005</key>
      <dict>
        <key>frame</key>
        <string>{{480,373},{87,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{87.00,87.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>tips.png</string>
      <key>realTextureFileName</key>
      <string>tips.png</string>
      <key>textureFileName</key>
      <string>tips.png</string>
      <key>size</key>
      <string>{840,714}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02715</real>
        <key>anchorY</key>
        <real>1.15804</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>bg1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.03724</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>bg2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>bg3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.45659</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>closebtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.48276</real>
        <key>anchorY</key>
        <real>0.54023</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>armor</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,314.95,43.00</string>
        <key>anchorX</key>
        <real>0.00318</real>
        <key>anchorY</key>
        <real>0.02326</real>
        <key>children</key>
        <dict>
          <key>txtcontent</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,43.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,23,#01DBF4,left,321,40</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>excellenceinfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,537.00,99.70</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.54363</real>
        <key>children</key>
        <dict>
          <key>txtexcellenceinfo</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>86.50,30.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,20,#E16DF0,center,386,36</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i98504849</key>
          <dict>
            <key>class</key>
            <string>bg1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>20.00,99.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>txtexcellencetxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>213.70,93.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,25,#E16DF0,left,118,45</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>itemdesinfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,537.00,116.50</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.60944</real>
        <key>children</key>
        <dict>
          <key>txtItemName</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>50.55,113.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,30,#FEF5AD,center,424,44</string>
            <key>text</key>
            <string>这样的名字</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i98504875</key>
          <dict>
            <key>class</key>
            <string>asa</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>268.50,71.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>txtdesinfo</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>73.00,68.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,20,#FFFFCC,center,386,74</string>
            <key>text</key>
            <string>壮士出川小</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>iteminfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,319.45,126.05</string>
        <key>anchorX</key>
        <real>0.25810</real>
        <key>anchorY</key>
        <real>0.55058</real>
        <key>children</key>
        <dict>
          <key>txtItemTypeName</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,93.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,23,#01DBF4,left,108,40</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>txtBasicAttributes</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.00,62.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,23,#C9C9C9,left,299,34</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>txtItemName</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,126.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,30,#FEF5AD,left,319,44</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>txtAdditionalAttributes</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.00,34.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,23,#C9C9C9,left,298,34</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>itemname</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,283.00,38.70</string>
        <key>anchorX</key>
        <real>0.00353</real>
        <key>anchorY</key>
        <real>0.02584</real>
        <key>children</key>
        <dict>
          <key>txtcontent</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,38.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,23,#FEF5AD,left,283,34</string>
            <key>text</key>
            <string>阿萨啊</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>itemscore</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,203.95,38.40</string>
        <key>anchorX</key>
        <real>0.00490</real>
        <key>anchorY</key>
        <real>0.02604</real>
        <key>children</key>
        <dict>
          <key>txtcontent</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,38.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,23,#BFE476,left,210,40</string>
            <key>text</key>
            <string>装备评分</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>tipsmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,595.80,722.35</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00138</real>
        <key>children</key>
        <dict>
          <key>i98504974</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>95.80,740.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>itemdesInfo</key>
          <dict>
            <key>class</key>
            <string>itemdesinfo</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>327.30,487.25,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>itemInfo1</key>
          <dict>
            <key>class</key>
            <string>bg3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>317.40,463.30,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btnclose</key>
          <dict>
            <key>class</key>
            <string>closebtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>550.80,682.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>iteminfomc</key>
          <dict>
            <key>class</key>
            <string>iteminfo</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>318.90,605.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>excellenceinfomc</key>
          <dict>
            <key>class</key>
            <string>excellenceinfo</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>317.40,469.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>