<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>titleimg_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{635,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{635.00,41.00}</string>
      </dict>
      <key>titleimg_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,351},{1,1}}</string>
        <key>offset</key>
        <string>{-19.25,19.10}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0002</key>
      <dict>
        <key>frame</key>
        <string>{{394,311},{161,38}}</string>
        <key>offset</key>
        <string>{14.75,2.65}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0003</key>
      <dict>
        <key>frame</key>
        <string>{{460,166},{119,49}}</string>
        <key>offset</key>
        <string>{16.45,3.80}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0004</key>
      <dict>
        <key>frame</key>
        <string>{{578,217},{99,48}}</string>
        <key>offset</key>
        <string>{15.85,2.15}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0005</key>
      <dict>
        <key>frame</key>
        <string>{{448,44},{154,52}}</string>
        <key>offset</key>
        <string>{28.85,0.30}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0006</key>
      <dict>
        <key>frame</key>
        <string>{{557,311},{115,48}}</string>
        <key>offset</key>
        <string>{15.65,4.25}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0007</key>
      <dict>
        <key>frame</key>
        <string>{{394,253},{182,56}}</string>
        <key>offset</key>
        <string>{13.95,3.15}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,190},{264,38}}</string>
        <key>offset</key>
        <string>{18.45,3.95}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,230},{238,47}}</string>
        <key>offset</key>
        <string>{20.95,2.10}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,144},{339,44}}</string>
        <key>offset</key>
        <string>{30.85,1.70}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0011</key>
      <dict>
        <key>frame</key>
        <string>{{267,190},{191,61}}</string>
        <key>offset</key>
        <string>{13.50,2.85}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,279},{196,66}}</string>
        <key>offset</key>
        <string>{12.20,-0.35}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0013</key>
      <dict>
        <key>frame</key>
        <string>{{199,279},{193,61}}</string>
        <key>offset</key>
        <string>{12.10,0.15}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0014</key>
      <dict>
        <key>frame</key>
        <string>{{431,98},{168,66}}</string>
        <key>offset</key>
        <string>{11.15,0.10}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0015</key>
      <dict>
        <key>frame</key>
        <string>{{1,44},{445,52}}</string>
        <key>offset</key>
        <string>{-0.75,0.35}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
      <key>titleimg_0016</key>
      <dict>
        <key>frame</key>
        <string>{{1,98},{428,44}}</string>
        <key>offset</key>
        <string>{9.25,2.85}</string>
        <key>sourceSize</key>
        <string>{446.50,66.70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.52</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>titleimg.png</string>
      <key>realTextureFileName</key>
      <string>titleimg.png</string>
      <key>textureFileName</key>
      <string>titleimg.png</string>
      <key>size</key>
      <string>{838,370}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>png001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00472</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>titleimg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53191</real>
        <key>anchorY</key>
        <real>0.52699</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>vip1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,477.40,31.40</string>
        <key>anchorX</key>
        <real>0.00209</real>
        <key>anchorY</key>
        <real>0.03981</real>
        <key>children</key>
        <dict>
          <key>txt1</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,31.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,84,30</string>
            <key>text</key>
            <string>恭喜玩家</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt3</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>361.60,30.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,20,#FF6507,center,116,30</string>
            <key>text</key>
            <string>享受VIP特权</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txtname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>86.30,31.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,20,#66CC00,center,138,30</string>
            <key>text</key>
            <string>[恭喜玩家恭喜]</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt2</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>224.90,30.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,44,30</string>
            <key>text</key>
            <string>成为</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txtvip</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>269.10,30.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,20,#66CC00,center,88,30</string>
            <key>text</key>
            <string>尊贵VIP1</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>vip3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,477.40,31.40</string>
        <key>anchorX</key>
        <real>0.00209</real>
        <key>anchorY</key>
        <real>0.03981</real>
        <key>children</key>
        <dict>
          <key>txt1</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,31.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,84,30</string>
            <key>text</key>
            <string>恭喜玩家</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i13493</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>269.10,30.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,20,#33CCFF,center,88,30</string>
            <key>text</key>
            <string>尊贵VIP1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt3</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>361.60,30.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,20,#FF6507,center,116,30</string>
            <key>text</key>
            <string>享受VIP特权</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txtname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>86.30,31.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,20,#00CCFF,center,138,30</string>
            <key>text</key>
            <string>[恭喜玩家恭喜]</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt2</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>224.90,30.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,44,30</string>
            <key>text</key>
            <string>成为</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>vip6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,477.40,31.40</string>
        <key>anchorX</key>
        <real>0.00209</real>
        <key>anchorY</key>
        <real>0.03981</real>
        <key>children</key>
        <dict>
          <key>txt1</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,31.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,84,30</string>
            <key>text</key>
            <string>恭喜玩家</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt3</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>361.60,30.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00,Microsoft YaHei ,20,#FF6507,center,116,30</string>
            <key>text</key>
            <string>享受VIP特权</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txtname</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>86.30,31.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00,Microsoft YaHei ,20,#FF00FF,center,138,30</string>
            <key>text</key>
            <string>[恭喜玩家恭喜]</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txt2</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>224.90,30.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,center,44,30</string>
            <key>text</key>
            <string>成为</string>
            <key>input</key>
            <false/>
          </dict>
          <key>txtvip</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>269.10,30.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Microsoft YaHei ,20,#FF00FF,center,88,30</string>
            <key>text</key>
            <string>尊贵VIP1</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>vipprompt</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,813.35,842.30</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00119</real>
        <key>children</key>
        <dict>
          <key>vip3</key>
          <dict>
            <key>class</key>
            <string>vip6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>97.75,808.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>vip2</key>
          <dict>
            <key>class</key>
            <string>vip3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>97.25,808.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>vip1</key>
          <dict>
            <key>class</key>
            <string>vip1</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>97.25,808.15,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i13542</key>
          <dict>
            <key>class</key>
            <string>png001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.45,842.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>txtvip</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>97.75,838.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Microsoft YaHei ,20,#CCCCCC,left,716,30</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>